Repository yodaos-project/yoda.js, pull requests merged in 2018-12, with the labels that each got.

#58 bluetooth:revert dd21748667d60196108acc1a9a18139f82ebfb71
  apps/bluetooth/app.js
Labels: bluetooth

#56 scheduler: executable proc implementation
  runtime/lib/app/executable-proc.js
  runtime/lib/app/ext-app.js
  runtime/lib/component/app-loader.js
  runtime/lib/component/app-scheduler.js
Labels: app, manifest, scheduler

#62 tools: options to not install configuration files
  tools/runtime-install
Labels: tools

#60 cloudapi: support http2 for fetching headers to sync date
  runtime/lib/cloudapi/index.js
  runtime/lib/cloudapi/util.js
  test/runtime/cloudapi-util.test.js
  test/testsets.txt
Labels: cloudapi

#65 runtime: hibernate device on sleep command
  apps/system/app.js
  runtime/lib/app-runtime.js
  runtime/lib/app/activity-descriptor.js
  test/runtime/app-runtime/voice-command.test.js
  test/runtime/light-app.test.js
  types/yoda-rt.d.ts
Labels: app

#75 cloud app: modify the exit logic when the intent is exit
  apps/cloudappclient/app.js
  apps/cloudappclient/manager.js
  test/apps/cloudAppClient/directive-test.test.js
  test/apps/cloudAppClient/manager-event.test.js
  test/apps/cloudAppClient/manager-test.test.js
  test/apps/cloudAppClient/skill-test.test.js
Labels: cloud app

#74 meta: add badges for ci and codecov
  README.md
  codecov.yml
Labels: build, meta

#77 flora, test: set the timeout for flora loop tests
  test/@yoda/flora/flora.test.js
Labels: flaky, flora, test

#80 bluetooth: Fix flora msg data reference error.
  packages/@yoda/bluetooth/player.js
Labels: bluetooth

#83 ota: should unlock proc lock whether error occurs or not
  packages/@yoda/ota/index.js
Labels: ota

#90 fixed(cloudappclient): native directives should not preempt cloudappclient
  apps/cloudappclient/app.js
Labels: cloud app

#94 control-api: list packages by app id
  runtime/lib/component/dbus-registry.js
Labels: app, tools

#102 ota: should unlock proc lock whether error occurs or not (#83)
  packages/@yoda/ota/index.js
Labels: bug, ota

#106 Feature/alarm same reminder
  apps/alarm/node-cron.js
Labels: alarm

#107 fix bug of flora-cli.node
  packages/@yoda/flora/src/cli-native.cc
Labels: flora

#108 ota: error tolerance on malformed info.json
  packages/@yoda/ota/index.js
  test/@yoda/ota/read-info.test.js
Labels: ota

#109 control-api: nlp intent command
  runtime/lib/component/dbus-registry.js
Labels: author ready

#119 flora: modify flora node api
  packages/@yoda/flora/comp.js
  packages/@yoda/flora/index.js
  packages/@yoda/flora/src/cli-native.cc
  test/@yoda/flora/flora.test.js
Labels: flora

#123 system: add get unified device name function.
  packages/@yoda/system/index.js
Labels: system

#116 wormhole: add event dispatcher to handle mobile/cloud api commands
  runtime/lib/component/wormhole.js
Labels: wormhole

#127 fix vt words setting broke the scene app
  apps/custom-config/app.js
  runtime/lib/app-runtime.js
Labels: app

#129 modify param of flora subscribe msg callback
  packages/@yoda/flora/src/cli-native.cc
  packages/@yoda/flora/src/cli-native.h
  packages/@yoda/flora/stress/flora-stress.js
Labels: author ready

#132 ext-app: descriptor method return value error tolerance
  runtime/lib/app/ext-app.js
Labels: author ready

#53 framework: introduction to app launch mode
  runtime/client/ext-app-entry.js
  runtime/client/ext-helper.js
  runtime/client/ext-test-entry.js
  runtime/client/translator-ipc.js
  runtime/constants.js
  runtime/lib/app-runtime.js
  runtime/lib/app/activity-descriptor.js
  runtime/lib/app/executable-proc.js
  runtime/lib/app/ext-app.js
  runtime/lib/app/light-app.js
  runtime/lib/component/app-scheduler.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/flora.js
  runtime/lib/component/lifetime.js
  runtime/lib/descriptor/activity-descriptor.js
  runtime/lib/descriptor/activity-test-descriptor.js
  runtime/lib/descriptor/index.js
  runtime/lib/descriptor/keyboard-descriptor.js
  runtime/lib/descriptor/light-descriptor.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/lib/descriptor/tts-descriptor.js
  runtime/lib/descriptor/turen-descriptor.js
  runtime/lib/descriptor/wormhole-descriptor.js
  test/runtime/activity-descriptor.test.js
  test/runtime/ext-app-activity-api.test.js
  test/runtime/ext-app.test.js
  test/runtime/lifetime/mock.js
  test/runtime/light-app.test.js
  tools/helper/yoda-debug.js
Labels: app, author ready, test

#134 custodian: reset network if no history found
  runtime/lib/component/custodian.js
Labels: network

#138 fixed(cloudappclient): Fix task calculation error
  apps/cloudappclient/skill.js
Labels: cloud app

#131 bluetooth: add unified A2DP adapter.
  packages/@yoda/bluetooth/a2dp-statemap.js
  packages/@yoda/bluetooth/a2dp.js
  packages/@yoda/bluetooth/index.js
  packages/@yoda/bluetooth/protocol.json
Labels: bluetooth

#149 bluetooth: add protocol constant file to fix compile error.
  packages/@yoda/bluetooth/CMakeLists.txt
Labels: bluetooth

#151 bluetooth: fix state mapping table typo.
  packages/@yoda/bluetooth/a2dp-statemap.js
Labels: bluetooth

#120 DND: implement the first version
  apps/custom-config/app.js
  runtime/lib/app-runtime.js
  runtime/lib/cloudapi/index.js
  runtime/lib/component/dnd-mode.js
  runtime/lib/component/lifetime.js
  runtime/lib/component/light.js
  runtime/lib/component/sound.js
  runtime/lib/date-sync.js
  runtime/services/activation/activation.cc
  runtime/services/lightd/effects.js
  runtime/services/lightd/index.js
  runtime/services/lightd/service.js
  test/@yoda/light/fill.test.js
  test/runtime/dnd-mode/dnd-mode.test.js
  test/runtime/services/lightd/setGlobalAlphaFactor.test.js
  test/runtime/sound.test.js
  test/testsets.txt
Labels: DND mode

#152 light: fix build error on breaking change of native light api
  packages/@yoda/light/src/LightNative.cc
Labels: light

#153 bluetooth: add state unhit log and optimize state log display.
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#155 tts: set declaimer with persist prop `rokid.tts.declaimer`
  runtime/services/ttsd/index.js
Labels: author ready, tts

#144 trace: implement the first version
  etc/env.json
  etc/env.test.json
  packages/@yoda/trace/index.js
  test/@yoda/trace/index.test.js
  test/testsets.txt
Labels: tracing

#158 bluetooth: change to new bluetooth app.
  apps/bluetooth/app.js
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
  apps/bluetooth/texts.json
Labels: bluetooth

#165 bluetooth: fix lint error.
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#169 dbus-app: fix missing dbus interface fields
  runtime/lib/app-runtime.js
  runtime/lib/component/app-loader.js
  test/runtime/app-loader/loader.test.js
Labels: author ready, dbus app

#147 logger: add cloud log switch
  apps/log-switch/app.js
  apps/log-switch/package.json
  etc/app-loader-config.json
  packages/@yoda/cloudgw/index.js
  packages/logger/binding.cc
  packages/logger/index.js
Labels: app, author ready, logger

#160 ota: refactoring with strings.json
  apps/ota/app.js
  apps/ota/strings.json
Labels: app, author ready, ota

#164 turen: replace bluetooth related functions with new a2dp interface.
  runtime/lib/component/turen.js
Labels: turen

#172 alarm: fix scope error when alarm init
  apps/alarm/alarm-core.js
  apps/alarm/app.js
  apps/alarm/data-migration.js
Labels: alarm

#173 v7.29.7 Release Fix Proposal
  apps/alarm/alarm-core.js
  apps/alarm/app.js
  apps/alarm/data-migration.js
Labels: versioning

#174 bluetooth: fix while play prev/next song, forget unmute issue.
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#167 runtime: module loader
  CMakeLists.txt
  package.json
  packages/@yoda/bolero/CMakeLists.txt
  packages/@yoda/bolero/base-class.js
  packages/@yoda/bolero/index.js
  packages/@yoda/bolero/loader.js
  packages/@yoda/flora/comp.js
  packages/@yoda/util/_.js
  runtime/lib/app-runtime.js
  runtime/lib/app/dbus-app.js
  runtime/lib/component/app-loader.js
  runtime/lib/component/app-scheduler.js
  runtime/lib/component/custodian.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/dnd-mode.js
  runtime/lib/component/flora.js
  runtime/lib/component/keyboard.js
  runtime/lib/component/lifetime.js
  runtime/lib/component/light.js
  runtime/lib/component/permission.js
  runtime/lib/component/turen.js
  runtime/lib/component/wormhole.js
  runtime/lib/descriptor/activity-descriptor.js
  runtime/lib/descriptor/keyboard-descriptor.js
  runtime/lib/descriptor/light-descriptor.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/lib/descriptor/tts-descriptor.js
  runtime/lib/descriptor/turen-descriptor.js
  runtime/lib/descriptor/wormhole-descriptor.js
  test/@yoda/bolero/loader/fixture/bar.js
  test/@yoda/bolero/loader/fixture/foo.js
  test/@yoda/bolero/loader/index.test.js
  test/@yoda/util/_.test.js
  test/runtime/app-loader/loader.test.js
  test/runtime/app-loader/mock.js
  test/runtime/app-runtime/voice-command.test.js
  test/runtime/app-scheduler/process-management.test.js
  test/runtime/custodian/state-shift.test.js
  test/runtime/dnd-mode/dnd-mode.test.js
  test/runtime/keyboard/descriptor.test.js
  test/runtime/keyboard/prevent-defaults.test.js
  test/runtime/lifetime/app-status.test.js
  test/runtime/lifetime/background.test.js
  test/runtime/lifetime/carrier.test.js
  test/runtime/lifetime/index.test.js
  test/runtime/lifetime/life-events.test.js
  test/runtime/lifetime/mock.js
  test/runtime/lifetime/monopolization.test.js
  test/runtime/lifetime/simultaneous.test.js
  test/runtime/lifetime/stack-manipulation.test.js
  test/runtime/lifetime/termination.test.js
  test/runtime/turen/events.test.js
  test/runtime/wormhole/index.test.js
  test/testsets.txt
Labels: author ready, minor, runtime

#185 volume: decrease volume with fast mute
  apps/volume/app.js
  etc/keyboard.json
Labels: app

#154 Custom config: custom awake effects
  apps/custom-config/app.js
  apps/custom-config/base-config.js
  apps/custom-config/continuous-dialog.js
  apps/custom-config/singleton-flora.js
  apps/custom-config/standby-light.js
  apps/custom-config/vt-word.js
  apps/custom-config/wakeup-effect.js
  etc/custom-config.json
  etc/env.json
  runtime/lib/app-runtime.js
  runtime/lib/component/custom-config.js
  runtime/lib/component/wormhole.js
  runtime/services/activation/CMakeLists.txt
  runtime/services/activation/activation.cc
  runtime/services/activation/activation.h
  runtime/services/activation/main.cc
Labels: author ready

#188 lifetime: duplicated emit of eviction
  runtime/lib/app-runtime.js
  runtime/lib/component/lifetime.js
  test/runtime/lifetime/on-evict.test.js
  test/runtime/lifetime/stack-manipulation.test.js
Labels: lifetime
