Repository yodaos-project/yoda.js, pull requests merged in 2019-02, with the labels that each got.

#436 bluetooth: set keepAlive in 'active' lifetime to force alive
  apps/bluetooth/app.js
Labels: bluetooth

#433 flora: add docs/flora-messages.md
  docs/flora-messages.md
Labels: author ready, docs, flora

#431 flora: reimplement getNlpResult
  runtime/lib/component/flora.js
Labels: author ready, flora

#444 @yoda/trace: suppress trace uploading error
  packages/@yoda/trace/index.js
  packages/logger/index.js
Labels: tracing

#445 turen: speech error 8 should deactivate app memorized on voice coming
  runtime/lib/component/lifetime.js
  runtime/lib/component/turen.js
  test/component/lifetime/index.test.js
  test/component/turen/events.test.js
Labels: lifetime, turen

#440 wormhole: send response to app on reset_settings
  runtime/lib/component/wormhole.js
Labels: runtime, wormhole

#446 turen: suppress interactive events while mic muted
  runtime/lib/component/turen.js
  test/component/turen/events.test.js
  test/component/turen/finalization.test.js
  test/component/turen/helper.js
Labels: turen

#442 keyboard: component method support
  packages/@yoda/bolero/loader.js
  runtime/lib/component/keyboard.js
  test/component/keyboard/descriptor.test.js
Labels: configuration, keyboard

#439 test: ttsd test coverage
  runtime/lib/component/dbus-registry.js
  runtime/services/ttsd/flora.js
  runtime/services/ttsd/index.js
  runtime/services/ttsd/service.js
  test/services/lightd/appSound.test.js
  test/services/lightd/effects/breathing.test.js
  test/services/lightd/effects/clear.test.js
  test/services/lightd/effects/fill.test.js
  test/services/lightd/effects/getContext.test.js
  test/services/lightd/effects/pixel.test.js
  test/services/lightd/effects/render.test.js
  test/services/lightd/effects/requestAnimationFrame.test.js
  test/services/lightd/effects/sound.test.js
  test/services/lightd/effects/stop.test.js
  test/services/lightd/effects/transition.test.js
  test/services/lightd/init.test.js
  test/services/lightd/loadfile.test.js
  test/services/lightd/setGlobalAlphaFactor.test.js
  test/services/lightd/setHide.test.js
  test/services/multimediad/final.test.js
  test/services/multimediad/firstguide.ogg
  test/services/multimediad/service.test.js
  test/services/otad/main.test.js
  test/services/ttsd/index.test.js
  test/services/ttsd/mock.js
  test/services/ttsd/pause-on-awaken.test.js
  test/testsets.txt
Labels: test, tts

#449 turen: manually pick up should not close cut app on speech error 8
  runtime/lib/component/turen.js
  test/component/turen/pick-up.test.js
Labels: turen

#450 runtime: break-able init announcements
  runtime/lib/app-runtime.js
Labels: runtime

#451 turen: no recovering reset awaken doesn’t resume scene app
  runtime/lib/component/turen.js
  test/component/turen/events.test.js
  test/component/turen/lifetime.test.js
  test/helper/mock.js
Labels: turen

#454 skill-host: upload skill options on ASR to NLP
  runtime/lib/app-runtime.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/flora.js
  runtime/lib/component/skill-host.js
  runtime/lib/component/wormhole.js
Labels: runtime, skill

#453 test: runtime guide/boot announcements
  runtime/lib/app-runtime.js
  test/runtime/init/index.test.js
  test/runtime/rt-helper.js
  test/runtime/voice-command.test.js
  test/testsets.txt
Labels: runtime, test

#457 timer: clear skill context after exit
  apps/timer/app.js
Labels: timer

#459 lifetime: scene monopolist could be temporarily paused by a cut app
  runtime/lib/component/dispatcher.js
  runtime/lib/component/lifetime.js
  test/component/dispatcher/app.test.js
  test/component/dispatcher/delegation.test.js
  test/component/lifetime/monopolization.test.js
Labels: dispatcher, lifetime, test

#458 exit alarm if no alarms and reminders
  apps/alarm/alarm-core.js
  apps/alarm/app.js
  apps/alarm/package.json
Labels: alarm

#460 test(turen): resume scene app if cut app exited while still woken up
  test/component/turen/lifetime.test.js
Labels: test, turen

#435 light: awake.js and setPickup.js option `shouldResume` should be true
  runtime/lib/component/light.js
  runtime/services/lightd/flora.js
Labels: light

#452 cloudappclient: upload `seekcomplete` event to cloud
  apps/cloudappclient/app.js
  apps/cloudappclient/eventRequestMap.json
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/service.js
Labels: cloudappclient, multimedia

#461 fixed: setPickup.js should be waiting for event 'rokid.turen.end_voice'
  runtime/lib/component/light.js
  runtime/services/lightd/flora.js
Labels: light

#455 network: stop configuration when key PowerActivation pressed
  apps/network/app.js
  runtime/lib/app-runtime.js
  runtime/lib/component/custodian.js
Labels: network

#424 dnd-mode: add volume notify flag for component.dndmode
  runtime/lib/component/dnd-mode.js
Labels: DND mode, audio

#462 timed-sleep: correct activity.exit() opportunity
  apps/timed-sleep/app.js
Labels: timed-sleep

#463 turen: voice coming should clear no voice input timer
  runtime/lib/component/turen.js
  test/component/turen/events.test.js
Labels: turen

#466 Fix bug (18770)when media cancel or error in cloudapp client,must sent itemId duration and progress to server
  apps/cloudappclient/app.js
Labels: cloudappclient

#471 bluetooth: correct app type after disconnected
  apps/bluetooth/app.js
Labels: bluetooth

#473 turen: timeout constants should not be modified
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/turen.js
  test/component/turen/events.test.js
Labels: turen

#472 battery: battery info should be memorized regardless of if hibernated
  runtime/lib/component/battery.js
  test/component/battery/index.test.js
Labels: battery

#467 bluetooth: catch error while playing ringtone to avoid crash
  apps/bluetooth/app.js
Labels: bluetooth

#468 timer: fix timer lifecycle issue and optimize flow code
  apps/timer/app.js
Labels: timer

#469 turen: handle speech error 6 as network error
  runtime/lib/component/turen.js
  test/component/turen/events.test.js
Labels: turen

#474 volume: announce fast volume adjust guide on exactly third time
  apps/volume/app.js
Labels: app

#475 bluetooth: reset intent history after intent has been handled
  apps/bluetooth/app.js
Labels: bluetooth

#477 Delete timeout param, use default param in speech
  runtime/lib/component/skill-host.js
Labels: skill

#478 battery: store power off reason for easy debugging
  apps/ota/app.js
  packages/@yoda/system/index.js
  runtime/lib/app-runtime.js
  runtime/lib/component/battery.js
  test/@yoda/system/system.test.js
  test/component/battery/getter.test.js
  test/component/battery/helper.js
  test/component/battery/index.test.js
  tools/helper/flora-invoker.js
  tools/helper/upgrade.js
Labels: battery, runtime

#479 component: set app event mock voice command preemptive as false
  runtime/lib/component/wormhole.js
Labels: component

#464 cloudappclient: support debug for playerManager
  apps/cloudappclient/playerManager.js
  apps/cloudappclient/service.js
  test/apps/cloudAppClient/playerManager.test.js
Labels: cloudappclient, test

#476 bluetooth: add timeout for play bluetooth music
  apps/bluetooth/app.js
Labels: bluetooth

#483 lifetime: emit eviction with form in context options
  runtime/lib/component/lifetime.js
  test/component/lifetime/context-options.test.js
Labels: lifetime

#482 component: add wifi connection timeout
  runtime/lib/component/custodian.js
Labels: component

#486 timer: catch error while operating media to avoid crash
  apps/timer/app.js
Labels: timer

#485 fixed(cloudappclient): fixed the login error of sort
  apps/cloudappclient/skill.js
  test/apps/cloudAppClient/directive-sort.test.js
Labels: cloudappclient

#487 custodian: add re-config wifi prompt media file
  res/media/guide_reconfig_network.ogg
  runtime/lib/component/custodian.js
Labels: component

#488 bluetooth: handle call case while disconnected from phone
  apps/bluetooth/app.js
Labels: bluetooth

#491 bluetooth: only speak but not set backstage when play music intent
  apps/bluetooth/app.js
Labels: bluetooth

#480 Feat/cloudappclient: support audioMix
  apps/cloudappclient/app.js
  apps/cloudappclient/playerManager.js
  etc/yoda/system-config.json
  packages/@yodaos/mediakit/audio-mix.js
  packages/@yodaos/mediakit/index.js
Labels: api, cloudappclient, component

#484 feature(lightd): reset service to initialization state
  runtime/lib/component/light.js
  runtime/services/lightd/helper.js
  runtime/services/lightd/index.js
  runtime/services/lightd/service.js
  test/services/lightd/reset.test.js
  test/services/lightd/setHide.test.js
Labels: light

#494 fixed the zIndex of bluetooth call
  apps/bluetooth/app.js
  apps/custom-config/standby-light.js
Labels: app

#492 bluetooth: add `lastInflow` field in state mapping
  packages/@yoda/bluetooth/a2dp-statemap.js
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#496 app-scheduler: status of apps exited on startup should be exited
  runtime/lib/component/app-scheduler.js
  test/component/app-scheduler/process-management.test.js
  test/fixture/crash-on-startup-app/app.js
  test/fixture/crash-on-startup-app/package.json
Labels: scheduler

#499 timed-sleep: reset keep alive flag to protect lifecycle
  apps/timed-sleep/app.js
Labels: timed-sleep

#498 timer: reset keep alive flag to protect lifecycle
  apps/timer/app.js
Labels: timer

#500 comp-de-voix: strict fast resolving
  apps/composition-de-voix/app.js
  runtime/lib/component/lifetime.js
  test/component/lifetime/carrier.test.js
Labels: app

#503 timer: handle double click to stop ringtone
  apps/timer/app.js
Labels: timer

#506 bluetooth: only play incoming ringtone if necessary
  apps/bluetooth/app.js
  packages/@yoda/bluetooth/hfp.js
Labels: bluetooth

#504 keyboard: fix conditions on composing multiple keys
  runtime/lib/component/keyboard.js
  test/component/keyboard/descriptor.test.js
Labels: keyboard

#505 light: naïve counter wrap for ttsSound speaking effect
  runtime/lib/component/light.js
  test/component/light/tts-sound.test.js
  test/testsets.txt
Labels: light

#509 add media pause event & add on-boot notification
  apps/alarm/app.js
  apps/alarm/package.json
Labels: alarm

#511 bluetooth: play alternative sound for TTS error when weak connection
  apps/bluetooth/app.js
Labels: bluetooth

#510 keyboard: multiple apps have interests on same key event
  runtime/lib/component/keyboard.js
  runtime/lib/descriptor/keyboard-descriptor.js
  test/component/keyboard/prevent-defaults.test.js
  test/descriptor/keyboard/event.test.js
  test/descriptor/keyboard/fixture/ext-app/app.js
  test/descriptor/keyboard/fixture/ext-app/package.json
  test/testsets.txt
Labels: keyboard

#514 httpsession: optimize the description to clear these functions
  packages/@yoda/httpsession/index.js
Labels: httpsession

#512 timer: shut up when goto background and optimize code
  apps/timer/app.js
Labels: activation

#501 runtime: add system notification `on-system-booted`
  apps/alarm/app.js
  apps/alarm/package.json
  runtime/lib/app-runtime.js
  runtime/lib/component/app-loader.js
Labels: runtime

#507 bluetooth: do not need set background when received app event
  apps/bluetooth/app.js
Labels: bluetooth

#517 cloudappclient: support debug with property
  apps/cloudappclient/app.js
Labels: cloudappclient

#513 ota: do not delegate turenDidWakeUp is lifetime is been monopolized
  runtime/lib/component/ota.js
  test/component/ota/index.test.js
  test/component/ota/mock.js
Labels: ota

#516 bluetooth: only set background in bluetooth skill after speak TTS
  apps/bluetooth/app.js
Labels: bluetooth

#515 multimedia: free js handle at uv_close callback
  packages/@yoda/httpdns/src/httpdns.cc
  packages/@yoda/multimedia/src/MediaPlayer.cc
  packages/@yoda/tts/src/TtsNative.cc
Labels: multimedia, work-in-progress

#520 Fixed(cloudappclient): should call next() after a directive was complete
  apps/cloudappclient/app.js
Labels: cloudappclient

#508 Fixed/cloudappclient: sync domain and playing info to cloud.
  apps/cloudappclient/app.js
  apps/cloudappclient/eventRequestApi.js
  apps/cloudappclient/manager.js
  test/apps/cloudAppClient/manager-eventRequest.test.js
Labels: cloudappclient

#521 multimediad/cloudappclient: add speedchange event
  apps/cloudappclient/app.js
  apps/cloudappclient/eventRequestMap.json
  packages/@yodaos/mediakit/convergence.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/service.js
  test/services/multimediad/service-event.test.js
Labels: cloudappclient, multimedia

#502 bluetooth: check if get song info failed
  apps/bluetooth/app.js
Labels: bluetooth

#524 Fixed/cloudappclient: The order of media should be in front of tts
  apps/cloudappclient/skill.js
  test/apps/cloudAppClient/directive-sort.test.js
Labels: cloudappclient
