Repository yodaos-project/yoda.js, pull requests merged in 2019-05, with the labels that each got.

#690 descriptor: fix the setPhase and add test case
  runtime/descriptor/runtime.js
  test/descriptor/runtime/index.test.js
  test/testsets-local.txt
Labels: runtime, v8.0

#691 anr: temporary disable timer.unref
  runtime/app/ext-app.js
  runtime/client/ext-helper.js
Labels: app

#699 build, linux: exit 1 when something went wrong
  tools/apt-get-install-deps.sh
Labels: build

#695 Fix: log stalls when run command adb shell rklogger XXXX
  tools/rklogger/rklogger.c
Labels: logger, tools

#696 visibility: configurable visibility capability
  etc/manifest.json
  packages/@yoda/manifest/index.js
  runtime/app-runtime.js
  runtime/component/audio-focus.js
  runtime/component/battery.js
  runtime/component/broadcast.js
  runtime/component/dbus-registry.js
  runtime/component/dispatcher.js
  runtime/component/keyboard.js
  runtime/component/ota.js
  runtime/component/permission.js
  runtime/component/sound.js
  runtime/component/visibility.js
  runtime/descriptor/activity.js
  test/component/audio-focus/index.test.js
  test/component/battery/getter.test.js
  test/component/battery/index.test.js
  test/component/dispatcher/app.test.js
  test/component/visibility/voice.test.js
  test/descriptor/keyboard/event.test.js
  test/testsets-local.txt
Labels: lifetime

#702 descriptor: visibility api for apps
  apps/system/app.js
  runtime/app-runtime.js
  runtime/component/audio-focus.js
  runtime/component/dbus-registry.js
  runtime/descriptor/runtime.js
  runtime/descriptor/visibility.js
  test/component/audio-focus/index.test.js
Labels: api

#694 @yodaos/voice-interface: proposing voice interface API
  packages/@yodaos/voice-interface/CMakeLists.txt
  packages/@yodaos/voice-interface/index.js
  packages/@yodaos/voice-interface/package.json
Labels: api

#700 test: application test framework
  apps/cloud-player/test/index.test.js
  cmake/packages.cmake
  packages/@yoda/util/_.js
  packages/@yodaos/application/audio-focus.js
  packages/@yodaos/application/class-loader.js
  packages/@yodaos/application/symbol.js
  packages/@yodaos/mm/bootstrap.js
  packages/@yodaos/speech-synthesis/index.js
  packages/@yodaos/speech-synthesis/symbol.js
  packages/glob/CMakeLists.txt
  packages/glob/LICENSE
  packages/glob/common.js
  packages/glob/package.json
  packages/glob/sync.js
  packages/minimatch/CMakeLists.txt
  packages/minimatch/LICENSE
  packages/minimatch/balanced-match.js
  packages/minimatch/brace-expansion.js
  packages/minimatch/concat-map.js
  packages/minimatch/index.js
  packages/minimatch/package.json
  runtime/client/ext-test-entry.js
Labels: app, test

#698 app/system: support play an alternative voice while speak TTS failed
  apps/system/app.js
Labels: app

#704 ext-app: force log redirection to logd
  runtime/app/ext-app.js
Labels: logger

#697 battery: use context manager with battery app and add unit tests
  apps/battery/app.js
  apps/battery/battery.js
  apps/battery/constant.json
  packages/@yoda/battery/index.js
  packages/@yoda/property/index.js
  test/apps/battery/app.test.js
  test/apps/battery/battery.helper.js
  test/apps/battery/battery.test.js
  test/testsets-local.txt
Labels: author ready, battery

#703 bluetooth: add call event handler and remove unused code
  apps/bluetooth-music/app.js
  apps/bluetooth/app.js
  apps/bluetooth/bluetooth-service.js
  apps/bluetooth/config.json
  apps/bluetooth/package.json
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
Labels: bluetooth

#707 speech-synthesis: race between player#write and player#end
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/pcm-player.h
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.h
  packages/@yodaos/speech-synthesis/src/thr-pool.h
  test/@yodaos/speech-synthesis/audio.raw
  test/@yodaos/speech-synthesis/index.test.js
  test/@yodaos/speech-synthesis/src/CMakeLists.txt
  test/@yodaos/speech-synthesis/src/voice-interface.cc
Labels: speech

#710 build: install packages with source permissions
  cmake/packages.cmake
Labels: build

#706 bluetooth: do not sync volume to phone while setting system volume by self
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#708 tools: add yoda runtime tools for windows env
  tools/configure-network.bat
  tools/runtime-install.bat
  tools/runtime-op.bat
  tools/upgrade.bat
Labels: tools, windows

#713 bluetooth: make service only running while opened
  apps/bluetooth-music/app.js
  apps/bluetooth-music/package.json
  apps/bluetooth-music/strings.json
  apps/bluetooth/app.js
  apps/bluetooth/bluetooth-service.js
  apps/bluetooth/package.json
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
  packages/@yoda/bluetooth/a2dp.js
  packages/@yoda/bluetooth/protocol.json
Labels: bluetooth

#712 test: tests on cloud-player
  apps/cloud-player/app.js
  apps/cloud-player/test/index.test.js
  cmake/packages.cmake
  packages/@yodaos/application/audio-focus.js
  packages/@yodaos/mediakit/audio-mix.js
  packages/@yodaos/mediakit/convergence.js
  packages/@yodaos/mediakit/index.js
  packages/@yodaos/mm/CMakeLists.txt
  packages/@yodaos/mm/README.md
  packages/@yodaos/mm/bootstrap.js
  packages/@yodaos/mm/index.js
  packages/@yodaos/mm/mock.js
  packages/@yodaos/mm/package.json
  packages/@yodaos/mm/test.js
  packages/logger/binding.cc
  packages/logger/index.js
  packages/tape/.gitignore
  packages/tape/.travis.yml
  packages/tape/CMakeLists.txt
  packages/tape/LICENSE
  packages/tape/README.md
  packages/tape/bin/tape.js
  packages/tape/index.js
  packages/tape/lib/deep-equal/index.js
  packages/tape/lib/deep-equal/lib/is_arguments.js
  packages/tape/lib/deep-equal/lib/keys.js
  packages/tape/lib/default_stream.js
  packages/tape/lib/defined.js
  packages/tape/lib/function-bind/implementation.js
  packages/tape/lib/function-bind/index.js
  packages/tape/lib/is-callable.js
  packages/tape/lib/minimist.js
  packages/tape/lib/object-inspect.js
  packages/tape/lib/resolve/index.js
  packages/tape/lib/resolve/lib/async.js
  packages/tape/lib/resolve/lib/caller.js
  packages/tape/lib/resolve/lib/core.js
  packages/tape/lib/resolve/lib/core.json
  packages/tape/lib/resolve/lib/node-modules-paths.js
  packages/tape/lib/resolve/lib/sync.js
  packages/tape/lib/results.js
  packages/tape/lib/resumer.js
  packages/tape/lib/test.js
  packages/tape/lib/through.js
  packages/tape/package.json
  runtime/app/ext-app.js
Labels: app, test

#721 tools:remove wrong deletion commands
  tools/runtime-install.bat
Labels: tools, windows

#722 bluetooth: fix bt music quit logic
  apps/bluetooth-music/app.js
  apps/bluetooth/app.js
  apps/bluetooth/bluetooth-service.js
Labels: bluetooth

#720 runtime: setMicMute should be outside of welcome checking
  runtime/lib/app-runtime.js
Labels: runtime

#724 bluetooth: fix upload to clound interface
  apps/bluetooth-music/app.js
  apps/bluetooth/bluetooth-service.js
Labels: bluetooth

#715 mqtt: set default topic if topic is null
  runtime/lib/cloudapi/mqtt/client.js
Labels: mqtt

#711 [MDF]adaptation alarm protocol
  apps/alarm/alarm-core.js
  apps/alarm/app.js
  apps/alarm/data-migration.js
  apps/alarm/media-manager.js
  apps/alarm/node-cron.js
  apps/alarm/package.json
  apps/alarm/request.js
Labels: alarm

#723 app-scheduler: app instruments mode
  runtime/app-runtime.js
  runtime/app/app-bridge.js
  runtime/app/ext-app.js
  runtime/client/ext-instrument-entry.js
  runtime/component/app-scheduler.js
  runtime/component/dbus-registry.js
  runtime/constants.js
  test/component/app-scheduler/light-app-management.test.js
  test/component/app-scheduler/mock.js
  test/component/app-scheduler/process-management.test.js
  test/fixture/malicious-app/app.js
  test/fixture/malicious-app/package.json
Labels: scheduler

#717 lifetime: add option `allowCut` to disable cut app when monopolized.
  runtime/lib/app-runtime.js
  runtime/lib/component/lifetime.js
  runtime/lib/descriptor/activity-descriptor.js
  test/component/lifetime/monopolization.test.js
Labels: lifetime

#218 loader: overridable component
  packages/@yoda/bolero/loader.js
  test/@yoda/bolero/loader/index.test.js
Labels: component, runtime

#727 audio-focus: should not re-grant identical focus duplicated requesting
  packages/@yodaos/application/audio-focus.js
  runtime/component/audio-focus.js
  test/@yodaos/application/audio-focus.test.js
  test/component/audio-focus/index.test.js
Labels: audio, lifetime

#726 media-player: refactor
  packages/@yoda/multimedia/CMakeLists.txt
  packages/@yoda/multimedia/mediaplayer.js
  packages/@yoda/multimedia/src/MediaPlayer.cc
  packages/@yoda/multimedia/src/MediaPlayer.h
  packages/@yoda/multimedia/src/media-player.cc
  packages/@yoda/multimedia/src/media-player.h
  packages/@yoda/multimedia/src/wav-player.cc
  test/@yoda/multimedia/compat.test.js
  test/@yoda/multimedia/mediaplayer-chaos.test.js
  test/@yoda/multimedia/mediaplayer.test.js
  test/@yoda/multimedia/resume.test.js
  test/@yoda/multimedia/simple.test.js
Labels: multimedia

#728 runtime: support playerControl api
  apps/bluetooth/app.js
  apps/cloudappclient/app.js
  apps/playercontrol/app.js
  apps/system/app.js
  apps/system/package.json
  runtime/lib/app-runtime.js
Labels: runtime

#734 battery: fast resolve if feature battery is not enabled
  packages/@yoda/battery/index.js
  packages/@yoda/manifest/index.js
Labels: battery

#737 multimedia: add benchmark on start player
  benchmark/multimedia/mediaplayer.js
Labels: benchmark

#736 benchmark: add tool to evaluate boot time
  benchmark/boot.sh
Labels: benchmark

#733 timed-sleep: context manager
  apps/timed-sleep/app.js
  packages/@yodaos/application/context-manager.js
Labels: timed-sleep

#743 Fixed/cloudappclient: requestOnce should not interrupt others skill
  apps/cloudappclient/app.js
  apps/cloudappclient/manager.js
  apps/cloudappclient/skill.js
  test/apps/cloudAppClient/manager-exit.test.js
  test/apps/cloudAppClient/skill.test.js
Labels: cloudappclient

#740 ota: generalize ota daemon
  cmake/packages.cmake
  packages/@yoda/ota/const.js
  packages/@yoda/ota/index.js
  packages/@yoda/ota/lock.js
  packages/@yoda/ota/network.js
  packages/@yoda/ota/persistance.js
  packages/@yoda/property/index.js
  packages/@yoda/system/CMakeLists.txt
  packages/@yoda/system/src/SystemNative.cc
  runtime/component/flora.js
  runtime/services/otad/delegation.js
  runtime/services/otad/index.js
  runtime/services/otad/step.js
  runtime/services/otad/wget.js
  test/@yoda/ota/calculate-file-hash.test.js
  test/@yoda/ota/check-disk-availability.test.js
  test/@yoda/ota/clean-images.test.js
  test/@yoda/ota/condition.test.js
  test/@yoda/ota/get-available-info.test.js
  test/@yoda/ota/get-image-path.test.js
  test/@yoda/ota/get-info-if-first-upgraded-boot.test.js
  test/@yoda/ota/get-info-of-pending-upgrade.test.js
  test/@yoda/ota/helpers.test.js
  test/@yoda/ota/index.test.js
  test/@yoda/ota/mock.js
  test/@yoda/ota/read-info-and-clear.test.js
  test/@yoda/ota/read-info.test.js
  test/@yoda/ota/reset-ota.test.js
  test/@yoda/ota/run-in-background.test.js
  test/@yoda/ota/run-in-current-context.test.js
  test/@yoda/ota/write-info.test.js
  test/services/otad/delegation.test.js
  test/services/otad/fixture/fetcher.js
  test/services/otad/fixture/md5check.sh
  test/services/otad/main.test.js
  test/services/otad/step.test.js
Labels: ota

#745 lightd: apply voice interface availability on both voice_coming and local_awake
  runtime/services/lightd/flora.js
Labels: light

#746 audio-focus: broadcast focus shifts
  runtime/component/audio-focus.js
  runtime/descriptor/audio-focus.js
  test/component/audio-focus/broadcast.test.js
Labels: audio

#748 service: add getApplication instance method
  packages/@yodaos/application/service.js
  test/@yodaos/application/service.test.js
Labels: api
