Repository yodaos-project/yoda.js, pull requests merged in 2019-03, with the labels that each got.

#529 TYPE:BF:ID:NULL:TITLE:wavplayer.cc maybe block loss
  packages/@yoda/multimedia/src/WavPlayer.cc
Labels: multimedia

#527 network: play standby light on beginning of setup
  apps/network/app.js
Labels: network

#536 fixed(lightd): fix the error in priority judgment
  runtime/services/lightd/service.js
  test/services/lightd/loadfile.test.js
  test/services/lightd/service-basic.test.js
Labels: light

#533 keyboard-descriptor: add restore all function and check unexpected event
  runtime/lib/descriptor/keyboard-descriptor.js
  test/descriptor/keyboard/event.test.js
Labels: keyboard

#528 battery: proactively announce extremely low battery while not idling
  apps/battery/constant.json
  runtime/lib/component/battery.js
  test/component/battery/index.test.js
Labels: battery

#537 bluetooth: do not need set background when received status mqtt
  apps/bluetooth/app.js
Labels: bluetooth

#543 bluetooth: revise TTS words according PRD
  apps/bluetooth/strings.json
Labels: bluetooth

#539 [lightd] fix lightd did not save the light color when the light effect was cleared.
  runtime/services/lightd/effects.js
  runtime/services/lightd/service.js
Labels: DND mode, light

#548 cloudappclient: the error from activity.media.resume should be caught.
  apps/cloudappclient/app.js
Labels: cloudappclient

#553 timer: handle timer_comback intent
  apps/timer/app.js
Labels: timer

#552 cloudappclient: continuous dialogue only for cloudappclient
  apps/cloudappclient/app.js
Labels: cloudappclient

#547 timer: set pickup mode when only ask for countdown without time intent
  apps/timer/app.js
  apps/timer/config.json
Labels: timer

#562 env: update api endpoint
  apps/cloudappclient/eventRequestApi.js
  etc/yoda/env.json
  packages/@yoda/cloudgw/index.js
  packages/@yoda/tts/index.js
  test/runtime/env.test.js
Labels: configuration

#561 @yoda/wifi: use anonymous connection
  packages/@yoda/wifi/index.js
Labels: network, wifi

#566 fix bug for js flora unit test
  test/@yoda/flora/flora.test.js
Labels: author ready

#570 ttsd: cancel event should be emitted on reset awaken
  runtime/services/ttsd/flora.js
  runtime/services/ttsd/service.js
  test/services/ttsd/pause-on-awaken.test.js
Labels: tts

#573 dnd-mode: fix date format for log
  runtime/lib/component/dnd-mode.js
Labels: DND mode

#574 on-my-little-pony: start cpu profiler on SIGUSR1
  packages/@yoda/oh-my-little-pony/index.js
Labels: performance

#564 bluetooth: add connect failed device name in TTS
  apps/bluetooth/app.js
  apps/bluetooth/strings.json
  packages/@yoda/bluetooth/a2dp-statemap.js
Labels: bluetooth

#418 permission: deprecate ACCESS_TTS/ACCESS_MULTIMEDIA
  apps/alarm/package.json
  apps/battery/package.json
  apps/bluetooth/package.json
  apps/cloudappclient/package.json
  apps/composition-de-voix/package.json
  apps/custom-config/package.json
  apps/guidance/package.json
  apps/ota/package.json
  apps/playercontrol/package.json
  apps/system/package.json
  apps/timed-sleep/package.json
  apps/timer/package.json
  apps/volume/package.json
  runtime/lib/app-runtime.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/permission.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/lib/descriptor/tts-descriptor.js
  test/component/app-loader/loader.test.js
  test/descriptor/keyboard/fixture/ext-app/package.json
  test/descriptor/tts/fixture/ext-app/package.json
  test/fixture/crash-on-startup-app/package.json
  test/fixture/ext-app/package.json
  test/fixture/noop-app/package.json
  test/fixture/simple-app/package.json
  v2-design-document-draft.md
Labels: api, manifest

#568 app-scheduler: create app right after app destructed
  runtime/lib/component/app-scheduler.js
  test/component/app-scheduler/process-management.test.js
Labels: scheduler

#567 bluetooth: set interface return value as boolean for test purpose
  packages/@yoda/bluetooth/a2dp.js
  packages/@yoda/bluetooth/hfp.js
Labels: bluetooth

#544 httpsession: move static async handle into task to manager
  packages/@yoda/httpsession/index.js
  packages/@yoda/httpsession/src/httpsession.cc
  test/@yoda/httpsession/request.test.js
Labels: httpsession

#581 bluetooth: modify bluetooth adapter for unit test
  packages/@yoda/bluetooth/index.js
Labels: bluetooth

#582 bluetooth: add bluetooth interface unit test
  test/@yoda/bluetooth/a2dp-sink-test.js
  test/@yoda/bluetooth/a2dp-source-test.js
  test/@yoda/bluetooth/bluetooth.test.js
  test/@yoda/bluetooth/hfp-test.js
  test/apps/cloudAppClient/manager-eventRequest.test.js
  test/testsets.txt
Labels: bluetooth

#578 doc: add system events
  docs/flora-messages.md
  docs/system-events.md
Labels: docs

#576 bluetooth: handle bluetooth music playing during call
  apps/bluetooth/app.js
Labels: bluetooth

#583 multimedia: thread safe call from async threads
  packages/@yoda/multimedia/src/MediaPlayer.cc
  packages/@yoda/multimedia/src/MediaPlayer.h
  test/stress/@yoda/multimedia/mediaplayer-multi-instance.js
Labels: multimedia

#584 input: thread safe call from async threads
  packages/@yoda/input/src/InputNative.cc
  packages/@yoda/input/src/InputNative.h
Labels: keyboard

#585 tts: thread safe call from async threads
  packages/@yoda/tts/src/TtsNative.cc
  packages/@yoda/tts/src/TtsNative.h
Labels: tts

#588 Feat/cloudappclient: execute directives then exit
  apps/cloudappclient/app.js
  apps/cloudappclient/manager.js
  apps/cloudappclient/skill.js
Labels: cloudappclient

#569 comp-de-voix: should exit if there is no directives available
  apps/composition-de-voix/app.js
Labels: app

#589 tts: asynchronous event callback
  packages/@yodaos/ttskit/convergence.js
  runtime/services/ttsd/service.js
  test/services/ttsd/index.test.js
  test/services/ttsd/mock.js
Labels: tts

#587 update flora js stress test
  packages/@yoda/flora/stress/flora-stress.js
Labels: author ready, flora

#592 fixed/multimedia: delete listener object
  packages/@yoda/multimedia/src/MediaPlayer.cc
Labels: multimedia

#590 bluetooth: change `setAppType` as synchronized promise function
  apps/bluetooth/app.js
Labels: bluetooth

#579 Fixed/cloudappclient: save playerInfo when exit
  apps/cloudappclient/app.js
  apps/cloudappclient/skill.js
Labels: cloudappclient

#597 input: fix segv on disconnect before properly started
  packages/@yoda/input/src/InputNative.cc
  packages/@yoda/input/src/InputNative.h
Labels: keyboard

#596 flora: support node.js
  packages/@yoda/flora/src/cli-native.cc
  tools/helper/flora-emitter.js
  tools/helper/flora-invoker.js
  tools/helper/flora-listener.js
Labels: flora
