Repository yodaos-project/yoda.js, pull requests merged in 2019-08, with the labels that each got.

#849 cloud-player: unset player on focus loss
  apps/cloud-player/test/voice/player.test.js
  apps/cloud-player/voice/player.js
Labels: cloud app

#848 speech-synthesis: SpeechSynthesis#cancel should remove all utterance in queue
  packages/@yodaos/speech-synthesis/index.js
  test/@yodaos/speech-synthesis/index.test.js
Labels: speech-synthesis

#844 bluetooth: add fast-forward and rewind function
  apps/bluetooth-music/README.md
  apps/bluetooth-music/app.js
  packages/@yoda/bluetooth/a2dp.js
  test/@yoda/bluetooth/a2dp-sink-test.js
Labels: bluetooth

#853 bluetooth: cancel disconnect after stop bluetooth music
  apps/bluetooth-music/app.js
Labels: bluetooth

#850 atomic-task: audio focus type should be transient
  packages/@yodaos/application/vui/atomic-task.js
Labels: util

#851 bluetooth: add reopen case and more suitable TTS
  apps/bluetooth/bluetooth-service.js
  apps/bluetooth/strings.json
Labels: bluetooth

#852 bluetooth: correct bluetooth wifiless default TTS path
  apps/bluetooth/bluetooth-service.js
  apps/bluetooth/resources.json
Labels: bluetooth

#857 packages: remove yoda-git-packages on building images
  .travis.yml
  cmake/packages.cmake
Labels: build

#830 timer: handle local/cloud tts
  apps/timer/README.md
  apps/timer/app.js
Labels: timer

#858 bluetooth: add `bluetooth_disconnected` replacement audio in no wifi connection state
  apps/bluetooth/bluetooth-service.js
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
  res/media/bluetooth_disconnected.ogg
  res/media/closebluetooth.ogg
Labels: bluetooth

#859 bluetooth-a2dp: match reconnect message so can emit it to app
  packages/@yoda/bluetooth/a2dp-statemap.js
Labels: bluetooth

#867 build: make yodaosclient_c depends on yodart-api-c
  client/c/CMakeLists.txt
Labels: build
