Repository yodaos-project/yoda.js, pull requests merged in 2019-04, with the labels that each got.

#598 ttsd: tts not recovered if paused by voice coming multiple times
  runtime/services/ttsd/flora.js
  test/services/ttsd/flora.test.js
  test/services/ttsd/mock.js
Labels: tts

#599 @yodaos/application: pass through activity.exit arguments
  packages/@yodaos/application/context-manager.js
  test/@yodaos/application/context-manager.test.js
Labels: app

#593 add function getSn for ble protocol
  apps/network/app.js
Labels: bluetooth, network

#601 alarm: if network unreachable,media.start may hang more than 7s,shoul…
  apps/alarm/alarm-core.js
  apps/alarm/app.js
Labels: alarm

#540 httpgw: migrate to httpsession
  packages/@yoda/cloudgw/index.js
  test/@yoda/cloudgw/cloudgw.test.js
Labels: httpsession, minor, performance

#603 multimedia: resolve the problem of memory explosion by adjusting mall…
  packages/@yoda/multimedia/src/MediaPlayer.cc
  packages/@yoda/system/index.js
  packages/@yoda/system/src/SystemNative.cc
  runtime/services/multimediad/index.js
Labels: system

#600 wormhole: Add mqtt msg to shell args
  runtime/lib/component/wormhole.js
Labels: wormhole

#605 light-app: duplicate subscription on event
  runtime/client/translator-in-process.js
  test/activity/light-app.test.js
  test/fixture/simple-app/app.js
Labels: app

#604 oh-my-little-pony: health check
  packages/@yoda/oh-my-little-pony/health-reporter.js
  packages/@yoda/oh-my-little-pony/index.js
  runtime/services/healthz/healthz
  runtime/services/lightd/index.js
  runtime/services/multimediad/index.js
  runtime/services/ttsd/index.js
  runtime/services/vuid/index.js
Labels: yoda-service

#608 build: ci
  .travis.yml
  tools/apt-get-install-deps.sh
  tools/brew-install-deps.sh
Labels: build

#613 oh-my-little-pony: install script
  packages/@yoda/oh-my-little-pony/CMakeLists.txt
Labels: build

#607 fix abort: napi FunctionReference may release not at main thread
  packages/@yoda/flora/src/cli-native.cc
  packages/@yoda/flora/src/cli-native.h
  tools/clang-format
Labels: flora

#617 tools: run tests in presets by default
  tools/test
Labels: tools

#622 ci: enable local test sets on ci
  .travis.yml
  package.json
  packages/logger/index.js
  runtime/lib/app-runtime.js
  runtime/lib/component/app-loader.js
  runtime/lib/component/custom-config.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/dispatcher.js
  runtime/lib/component/flora.js
  runtime/lib/component/keyboard.js
  runtime/lib/component/wormhole.js
  runtime/lib/helper/config.js
  runtime/services/lightd/flora.js
  runtime/services/multimediad/flora.js
  runtime/services/ttsd/flora.js
  test/helper/index.js
  test/testsets-local.txt
  tools/apt-get-install-deps.sh
  tools/brew-install-deps.sh
  tools/install-shadow-node.sh
  tools/test
Labels: build

#620 keyboard: delegates keydown/keyup events
  runtime/lib/descriptor/keyboard-descriptor.js
  test/component/keyboard/prevent-defaults.test.js
  test/descriptor/keyboard/fixture/ext-app/app.js
Labels: keyboard

#627 next: generic lifetime
  runtime/lib/component/app-scheduler.js
  runtime/lib/component/lifetime.js
  test/bootstrap.js
  test/component/lifetime/app-status.test.js
  test/component/lifetime/background.test.js
  test/component/lifetime/bootstrap.js
  test/component/lifetime/carrier.test.js
  test/component/lifetime/context-options.test.js
  test/component/lifetime/events.test.js
  test/component/lifetime/index.test.js
  test/component/lifetime/life-events.test.js
  test/component/lifetime/mock.js
  test/component/lifetime/monopolization.test.js
  test/component/lifetime/simultaneous.test.js
  test/component/lifetime/stack-manipulation.test.js
  test/component/lifetime/termination.test.js
  test/descriptor/bootstrap.js
Labels: lifetime

#630 audio-focus: basic implementation
  runtime/component/audio-focus.js
  runtime/descriptor/audio-focus.js
  runtime/lib/descriptor.js
  test/component/audio-focus/index.test.js
  test/helper/mock.js
  test/testsets-local.txt
Labels: audio, lifetime

#631 [Proposal] @yodaos/application
  package.json
  packages/@yoda/util/delegate.js
  packages/@yoda/util/index.js
  packages/@yodaos/application/application.js
  packages/@yodaos/application/class-loader.js
  packages/@yodaos/application/context-manager.js
  packages/@yodaos/application/index.js
  packages/@yodaos/application/service.js
  packages/@yodaos/application/symbol.js
  runtime/client/ext-helper.js
  runtime/client/ext-test-entry.js
  test/@yoda/util/delegate.test.js
  test/@yodaos/application/application.test.js
  test/@yodaos/application/class-loader.test.js
  test/@yodaos/application/context-manager.test.js
  test/@yodaos/application/fixture/simple-app/a-service.js
  test/@yodaos/application/fixture/simple-app/app.js
  test/@yodaos/application/fixture/simple-app/package.json
  test/@yodaos/application/service.test.js
Labels: api, app

#633 build: generate api at build time
  CMakeLists.txt
  cmake/packages.cmake
  cmake/yodart-api.cmake
  cmake/yodart.cmake
  tools/generate-api-json.js
Labels: build

#634 audio-focus: experimental client
  packages/@yodaos/application/audio-focus.js
  packages/@yodaos/application/index.js
  runtime/component/audio-focus.js
  runtime/descriptor/audio-focus.js
  test/@yodaos/application/audio-focus.test.js
  test/component/audio-focus/index.test.js
Labels: audio

#639 release: v7.33.9 proposal
  apps/alarm/data-migration.js
Labels: versioning

#641 @yodaos/application: delegate methods
  package.json
  packages/@yodaos/application/application.js
  runtime/app-runtime.js
  runtime/component/dbus-registry.js
  runtime/component/dispatcher.js
  test/@yodaos/application/application.test.js
Labels: api

#640 app/system: system app
  apps/system/app.js
  apps/system/fallback.json
  apps/system/package.json
  runtime/app/light-app.js
  runtime/component/audio-focus.js
  test/component/audio-focus/index.test.js
Labels: app

#645 apps: remove log switch from framework
  apps/log-switch/app.js
  apps/log-switch/package.json
  etc/yoda/app-loader-config.json
Labels: logger

#642 runtime: delegates app did exit events to components/descriptors
  etc/yoda/app-loader-config.json
  runtime/app-runtime.js
  runtime/component/app-scheduler.js
  runtime/component/audio-focus.js
  runtime/component/keyboard.js
  runtime/component/lifetime.js
  runtime/component/light.js
  runtime/descriptor/keyboard.js
  test/component/app-scheduler/light-app-management.test.js
  test/component/app-scheduler/process-management.test.js
  test/component/audio-focus/app-did-exit.test.js
  test/component/keyboard/app-did-exit.test.js
  test/component/keyboard/prevent-defaults.test.js
  test/component/lifetime/bootstrap.js
  test/descriptor/keyboard/event.test.js
Labels: runtime

#649 chronos: basic implementation
  runtime/component/chronos.js
  runtime/descriptor/chronos.js
  runtime/descriptor/notification.js
  test/component/chronos/index.test.js
  test/testsets-local.txt
Labels: api, runtime

#651 bluetooth: fix the device name, it should in tel format
  apps/bluetooth/app.js
Labels: bluetooth

#653 Fixed/cloudappclient: add URL character escaping and fix a variable error
  apps/cloudappclient/skill.js
  test/apps/cloudAppClient/player-control.test.js
  test/testsets-local.txt
Labels: cloudappclient

#655 volume-app: deref context on url of context manager
  apps/volume/app.js
Labels: app

#662 audio-focus: tests on exclusive requests
  packages/@yodaos/application/audio-focus.js
  runtime/component/audio-focus.js
  test/component/audio-focus/index.test.js
Labels: audio

#656 speech-synthesis: speech synthesizer
  .gitignore
  package.json
  packages/@yodaos/speech-synthesis/CMakeLists.txt
  packages/@yodaos/speech-synthesis/index.js
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/pcm-player.h
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.h
  packages/@yodaos/speech-synthesis/src/thr-pool.h
  test/testsets-local.txt
Labels: tts

#665 chronos: fix flaky case on pushing collision jobs
  runtime/component/chronos.js
  test/component/chronos/index.test.js
Labels: component, test

#666 app-bridge: app metadata
  runtime/app/app-bridge.js
  runtime/app/executable-proc.js
  runtime/component/app-loader.js
  runtime/component/app-scheduler.js
  test/descriptor/bootstrap.js
  test/descriptor/effect/index.test.js
  test/testsets-local.txt
Labels: app, component, test

#667 cloud-player: generic cloud directives player
  apps/cloud-player/app.js
  apps/cloud-player/package.json
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.h
  runtime/component/flora.js
Labels: app

#669 cloud-player: support transient/sequential directives
  apps/cloud-player/app.js
  packages/@yodaos/speech-synthesis/index.js
Labels: app, tts

#659 atomic-task: add atomic task utility
  packages/@yodaos/application/vui/app-task.js
  packages/@yodaos/application/vui/atomic-task.js
  packages/@yodaos/application/vui/index.js
Labels: util

#670 volume-app: support YODAOS v8 API
  apps/volume/app.js
  apps/volume/strings.json
Labels: app

#660 remove unneeded apps and packages
  apps/cloudappclient/app.js
  apps/cloudappclient/directive.js
  apps/cloudappclient/eventRequestApi.js
  apps/cloudappclient/eventRequestMap.json
  apps/cloudappclient/manager.js
  apps/cloudappclient/package.json
  apps/cloudappclient/playerManager.js
  apps/cloudappclient/service.js
  apps/cloudappclient/skill.js
  apps/cloudappclient/ttsEventHandle.js
  apps/composition-de-voix/app.js
  apps/composition-de-voix/package.json
  apps/custom-config/app.js
  apps/custom-config/base-config.js
  apps/custom-config/continuous-dialog.js
  apps/custom-config/g-sensor.js
  apps/custom-config/package.json
  apps/custom-config/singleton-flora.js
  apps/custom-config/standby-light.js
  apps/custom-config/vt-word.js
  apps/custom-config/wakeup-effect.js
  apps/guidance/app.js
  apps/guidance/package.json
  apps/guidance/texts.json
  apps/log-switch/app.js
  apps/log-switch/package.json
  apps/network/app.js
  apps/network/package.json
  apps/playercontrol/app.js
  apps/playercontrol/package.json
  apps/timed-sleep/app.js
  apps/timer/app.js
  cmake/packages.cmake
  etc/yoda/app-loader-config.json
  etc/yoda/custom-config.json
  etc/yoda/env.alarm-test.json
  etc/yoda/env.dev.json
  etc/yoda/env.pre.json
  etc/yoda/env.test.json
  etc/yoda/wormhole.json
  packages/@yoda/trace/CMakeLists.txt
  packages/@yoda/trace/index.js
  packages/@yoda/tts/CMakeLists.txt
  packages/@yoda/tts/index.js
  packages/@yoda/tts/src/TtsNative.cc
  packages/@yoda/tts/src/TtsNative.h
  packages/@yoda/tts/src/TtsService.cc
  packages/@yoda/tts/src/TtsService.h
  test/@yoda/trace/index.test.js
  test/@yoda/tts/tts-batch.test.js
  test/@yoda/tts/tts.test.js
Labels: author ready, meta

#664 cloudappclient: request with maxRetry
  apps/cloudappclient/eventRequestApi.js
  apps/cloudappclient/manager.js
  packages/@yoda/util/index.js
  packages/@yoda/util/retries.js
  test/@yoda/util/retries.test.js
Labels: cloudappclient

#682 service: delegate openUrl function
  packages/@yodaos/application/service.js
Labels: yoda-service

#684 broadcast: broadcast component
  packages/@yodaos/application/application.js
  runtime/app-runtime.js
  runtime/component/app-loader.js
  runtime/component/broadcast.js
  runtime/component/dbus-registry.js
  runtime/descriptor/activity.js
  runtime/descriptor/broadcast.js
  runtime/descriptor/test.js
  test/component/app-loader/api.test.js
  test/component/app-loader/malformed-app.test.js
  test/component/broadcast/index.test.js
  test/fixture/malformed-apps/unknown-broadcast/package.json
  test/fixture/malformed-apps/unknown-notification/package.json
  test/runtime/notification/notification.test.js
Labels: api

#681 atomic-task: fix module.exports
  packages/@yodaos/application/vui/app-task.js
  packages/@yodaos/application/vui/atomic-task.js
Labels: util

#687 apps: normalize apps to use YODAOSv8 API
  apps/battery/app.js
  apps/battery/constant.json
  apps/battery/res/battery_low.ogg
  apps/battery/res/battery_temp_high.ogg
  apps/battery/res/battery_temp_low.ogg
  apps/battery/res/lowpower_10.ogg
  apps/battery/res/lowpower_20.ogg
  apps/battery/res/lowpower_20_idle.ogg
  apps/battery/res/lowpower_20_play.ogg
  apps/ota/app.js
  apps/volume/app.js
Labels: app

#678 bluetooth: reset lastIntent to prevent repeated speak music info
  apps/bluetooth/app.js
Labels: bluetooth

#676 app: test runner
  runtime/client/ext-helper.js
  runtime/client/ext-test-entry.js
  runtime/component/app-scheduler.js
Labels: test
