Repository yodaos-project/yoda.js, pull requests merged in 2019-06, with the labels that each got.

#749 cloud-player: add playback control support
  apps/cloud-player/app.js
  apps/cloud-player/constant.js
  apps/cloud-player/test/index.test.js
  apps/cloud-player/voice/player.js
  apps/cloud-player/voice/tts-stream.js
  runtime/client/ext-helper.js
Labels: cloud app

#752 speech-synthesis: apply rklog
  packages/@yodaos/speech-synthesis/CMakeLists.txt
  packages/@yodaos/speech-synthesis/index.js
  packages/@yodaos/speech-synthesis/src/logger.h
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
Labels: speech

#751 speech-synthesis: immediate cancellation
  packages/@yodaos/speech-synthesis/index.js
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/pcm-player.h
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
  test/@yodaos/speech-synthesis/index.test.js
  test/@yodaos/speech-synthesis/src/voice-interface.cc
Labels: tts

#753 cloud-player: defer removing GetStreamChannel to focus lost
  apps/cloud-player/test/voice/tts-stream.test.js
  apps/cloud-player/voice/tts-stream.js
  packages/@yodaos/application/audio-focus.js
  packages/@yodaos/mm/mock.js
Labels: cloud app

#756 ota-deletation: test on raw shell command delegation
  apps/ota/app.js
  packages/@yoda/ota/condition.js
  packages/@yoda/ota/index.js
  runtime/services/otad/README.md
  runtime/services/otad/index.js
  runtime/services/otad/step.js
  test/services/otad/delegation.test.js
Labels: docs, ota, test

#754 fauna: application protocol
  .travis.yml
  etc/yoda/app-loader-config.json
  runtime/app-runtime.js
  runtime/app/app-bridge.js
  runtime/app/dbus-app.js
  runtime/app/default-launcher.js
  runtime/app/executable-launcher.js
  runtime/app/ext-app.js
  runtime/app/light-launcher.js
  runtime/client/ext-app-entry.js
  runtime/client/ext-helper.js
  runtime/client/ext-instrument-entry.js
  runtime/client/protocol-fauna.md
  runtime/client/translator-ipc.js
  runtime/component/app-loader.js
  runtime/component/app-scheduler.js
  runtime/component/dbus-registry.js
  runtime/component/flora.js
  test/client/light-launcher.test.js
  test/component/app-loader/loader.test.js
  test/component/app-scheduler/app-management.test.js
  test/component/app-scheduler/bootstrap.js
  test/component/app-scheduler/process-management.test.skip.js
  test/component/flora/fauna-bootstrap.js
  test/component/flora/fauna-invoke.test.js
  test/component/flora/fauna-status-report.test.js
  test/component/flora/fauna-subscribe.test.js
  test/testsets-local.txt
Labels: api

#757 doc: move documents to /docs directory
  docs/README.md
  docs/ota.md
  docs/protocol-fauna.md
  docs/system-events.md
Labels: docs

#758 speech-synthesis: speaking light effect should be resume-able
  packages/@yodaos/speech-synthesis/index.js
  test/@yodaos/speech-synthesis/index.test.js
Labels: tts

#759 ota: delegate notification on done
  docs/ota.md
  runtime/services/otad/delegation.js
  runtime/services/otad/index.js
  test/services/otad/delegation.test.js
Labels: ota

#755 httpsession: Add options.trust_all to buildRequest
  packages/@yoda/httpsession/index.js
  packages/@yoda/httpsession/src/httpsession.cc
Labels: httpsession

#761 fixed/app-runtime: fix unbind syntax error
  runtime/lib/app-runtime.js
Labels: runtime

#760 fixed/ttsd: should not emit event after emit termination event
  runtime/services/ttsd/service.js
  test/services/ttsd/index.test.js
Labels: tts

#764 apps: remove battery/ota app from runtime
  apps/battery/app.js
  apps/battery/constant.json
  apps/battery/package.json
  apps/battery/res/battery_low.ogg
  apps/battery/res/battery_temp_high.ogg
  apps/battery/res/battery_temp_low.ogg
  apps/battery/res/lowpower_10.ogg
  apps/battery/res/lowpower_20.ogg
  apps/battery/res/lowpower_20_idle.ogg
  apps/battery/res/lowpower_20_play.ogg
  apps/battery/res/power_plug.ogg
  apps/battery/res/power_pull.ogg
  apps/ota/app.js
  apps/ota/package.json
  apps/ota/strings.json
Labels: app, battery

#768 [v7.28.x] alarm: weekday/weekend alarm can not response when timeout (#648)
  apps/alarm/alarm-core.js
  test/apps/alarm/alarm-core.test.js
Labels: alarm, v7.28.x

#766 app-scheduler: share ANR support in app scheduler
  runtime/app/app-bridge.js
  runtime/app/default-launcher.js
  runtime/app/executable-launcher.js
  runtime/app/light-launcher.js
  runtime/component/app-scheduler.js
  test/component/app-scheduler/anr.test.js
  test/component/app-scheduler/bootstrap.js
  test/component/app-scheduler/light-app-management.test.skip.js
Labels: app

#750 memory-sentinel: kill app on low memory available
  etc/yoda/memory-sentinel.json
  runtime/app/app-bridge.js
  runtime/app/default-launcher.js
  runtime/component/app-scheduler.js
  runtime/component/memory-sentinel.js
  test/component/memory-sentinel/high-water-mark.test.js
  test/component/memory-sentinel/index.test.js
  test/component/memory-sentinel/low-free-memory.test.js
Labels: memory-management

#769 wifi switch mode sync support
  README.md
  packages/@yoda/wifi/index.js
  packages/@yoda/wifi/src/binding.cc
  test/@yoda/wifi/info.test.js
Labels: wifi

#771 build: enable more tests on CI
  .gitignore
  .travis.yml
  cmake/packages.cmake
  package.json
  packages/@yoda/manifest/index.js
  packages/@yodaos/speech-synthesis/CMakeLists.txt
  test/@yodaos/speech-synthesis/src/CMakeLists.txt
  test/@yodaos/speech-synthesis/src/voice-interface.cc
  test/testsets-ci.txt
  test/testsets-local.txt
  test/testsets-target.txt
  test/testsets.txt
  tools/apt-get-install-deps.sh
  tools/build-yodart.sh
  tools/install-shadow-node.sh
  tools/test
Labels: build

#663 timer: re-write timer app with V8 API
  apps/timer/app.js
  apps/timer/package.json
  apps/timer/strings.json
Labels: timer

#773 app-entry: suppress single failed alive report
  runtime/client/ext-helper.js
Labels: app
