Repository yodaos-project/yoda.js, pull requests merged in 2019-01, with the labels that each got.

#191 manifest: update internal apps format
  apps/alarm/package.json
  apps/battery/package.json
  apps/bluetooth/app.js
  apps/bluetooth/package.json
  apps/cloudappclient/package.json
  apps/composition-de-voix/package.json
  apps/custom-config/package.json
  apps/guidance/package.json
  apps/log-switch/package.json
  apps/network/package.json
  apps/ota/package.json
  apps/system/package.json
  apps/timer/package.json
  apps/volume/package.json
Labels: app

#197 add config file for speech/tts config
  etc/env.json
  etc/openvoice-sdk.json
  runtime/lib/component/flora.js
Labels: configuration, speech

#182 bluetooth: modify bluetooth app according PRD v1.3
  apps/bluetooth/app.js
  apps/bluetooth/config.json
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
Labels: bluetooth

#201 bluetooth: correct the opportunity of copy updated status.
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth

#200 codecov: add more tests for improving coverage
  test/@yoda/env/simple.test.js
  test/@yoda/property/simple.test.js
  test/@yoda/util/json.test.js
  test/testsets.txt
Labels: test

#202 meta: correct the codecov badge links
  README.md
Labels: meta

#184 component: event interception dispatcher
  etc/component-config.json
  runtime/lib/component/custodian.js
  runtime/lib/component/dispatcher.js
  runtime/lib/component/turen.js
  test/runtime/dispatcher/index.test.js
  test/testsets.txt
Labels: component, runtime

#168 descriptor: add new httpgw module
  runtime/lib/descriptor/activity-descriptor.js
  runtime/lib/descriptor/httpgw-descriptor.js
  runtime/lib/descriptor/index.js
Labels: api

#196 lifetime: context options `keepAlive`
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/lifetime.js
  runtime/lib/descriptor/activity-descriptor.js
  test/runtime/lifetime/app-status.test.js
  test/runtime/lifetime/context-options.test.js
  test/runtime/lifetime/events.test.js
  test/runtime/lifetime/stack-manipulation.test.js
Labels: lifetime

#198 controlling long links of wavplayers or opusplayer by setting prop
  packages/@yoda/tts/index.js
  packages/@yoda/tts/src/TtsNative.cc
  packages/@yoda/tts/src/TtsNative.h
  packages/@yoda/tts/src/TtsService.cc
  packages/@yoda/tts/src/TtsService.h
  runtime/services/activation/activation.cc
  runtime/services/activation/activation.h
  runtime/services/lightd/effects.js
  runtime/services/ttsd/index.js
Labels: tts

#208 dnd-mode: Fix dnd mode time checking error
  runtime/lib/component/dnd-mode.js
  test/runtime/dnd-mode/dnd-mode.test.js
  test/testsets.txt
Labels: DND mode

#203 flora: add rpc call
  packages/@yoda/flora/comp.js
  packages/@yoda/flora/index.js
  packages/@yoda/flora/src/cli-native.cc
  packages/@yoda/flora/src/cli-native.h
  runtime/services/ttsd/flora.js
  test/@yoda/flora/flora.test.js
Labels: author ready, flora

#211 runtime: component load paths
  etc/component-config.json
  runtime/lib/app-runtime.js
Labels: component, runtime

#210 dispatcher: async delegation
  etc/component-config.json
  runtime/lib/app-runtime.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/dispatcher.js
  runtime/lib/component/ota.js
  runtime/lib/component/turen.js
  test/runtime/dispatcher/index.test.js
Labels: component, runtime, turen

#213 wormhole: the component should be on this.runtime
  runtime/lib/component/wormhole.js
Labels: wormhole

#214 dispatcher: fix this reference
  runtime/lib/component/dispatcher.js
Labels: component, runtime

#217 loader: skip load paths if doesn’t exist
  packages/@yoda/bolero/loader.js
  runtime/lib/component/app-loader.js
  test/@yoda/bolero/loader/index.test.js
  test/runtime/app-loader/loader.test.js
Labels: app, component, runtime

#215 test: not created app on lifetime test case
  test/runtime/lifetime/context-options.test.js
Labels: lifetime, test

#216 dispatcher: failed dispatching on no component responses
  runtime/lib/component/dispatcher.js
  runtime/lib/component/ota.js
  test/runtime/dispatcher/index.test.js
Labels: component, runtime

#220 activity: fixes accessing error on namespace httpgw
  runtime/lib/descriptor/httpgw-descriptor.js
Labels: api

#209 dnd-mode: global alpha factor for service[lightd] should be persistent.
  runtime/lib/component/light.js
  runtime/services/lightd/flora.js
  runtime/services/lightd/index.js
Labels: DND mode, light

#224 httpgw: options to set request timeout
  packages/@yoda/cloudgw/index.js
  runtime/lib/descriptor/httpgw-descriptor.js
Labels: api

#221 battery: query battery info
  packages/@yoda/battery/index.js
  packages/@yoda/flora/disposable.js
  runtime/lib/component/battery.js
  runtime/lib/component/flora.js
  test/helper/mock.js
  test/runtime/battery/index.test.js
  test/testsets.txt
Labels: battery

#225 battery: pick first of flora message array as message
  runtime/lib/component/flora.js
Labels: battery

#230 battery: determine if battery is supported by field `batSupported`
  runtime/lib/component/battery.js
  test/runtime/battery/index.test.js
Labels: battery, component

#229 battery-app:support rokidme battery interaction
  apps/battery/app.js
  apps/battery/constant.json
  apps/battery/media/res/battery_connect.ogg
  apps/battery/media/res/battery_disconnect.ogg
  apps/battery/media/res/battery_low.ogg
  apps/battery/media/res/battery_temp_high.ogg
  apps/battery/media/res/battery_temp_low.ogg
  apps/battery/media/res/lowpower_10.ogg
  apps/battery/media/res/lowpower_20.ogg
  apps/battery/media/res/lowpower_20_idle.ogg
  apps/battery/media/res/lowpower_20_play.ogg
  apps/battery/package.json
Labels: app, battery

#233 tools: upgrade flora-emitter to new flora API
  tools/helper/flora-emitter.js
Labels: flora, tools

#231 runtime: add "on-connected" notification
  runtime/lib/app-runtime.js
  runtime/lib/component/app-loader.js
Labels: api, notification, runtime

#234 battery: handle query battery info by wormhole
  runtime/lib/component/battery.js
  runtime/lib/component/wormhole.js
Labels: battery, wormhole

#238 runtime: add shutdown method
  packages/@yoda/system/index.js
  packages/@yoda/system/src/SystemNative.cc
  runtime/lib/app-runtime.js
  runtime/lib/component/battery.js
Labels: light, runtime, system

#237 turen, battery: wakeup interception of battery
  runtime/lib/component/battery.js
  runtime/lib/component/turen.js
  test/runtime/battery/index.test.js
Labels: battery, component, turen

#239 battery: close pick up with turen
  runtime/lib/component/battery.js
  test/runtime/battery/index.test.js
Labels: battery

#236 httpgw: onGetProp dont return promise
  runtime/lib/descriptor/httpgw-descriptor.js
  test/fixture/ext-app/app.js
  test/runtime/descriptor/httpgw.test.js
  test/testsets.txt
Labels: api

#248 ext-app: extra properties of error object on rejection
  runtime/client/translator-ipc.js
  runtime/lib/app/ext-app.js
  test/fixture/ext-app/app.js
  test/runtime/ext-app.test.js
Labels: api

#244 otad: force check new updates by interval
  runtime/services/otad/index.js
  runtime/services/otad/otad
Labels: ota

#255 httpsession: prematurely releases of httpsession tickets
  packages/@yoda/httpsession/src/httpsession.cc
Labels: httpsession

#266 build: disable trace/httpsession tests
  test/testsets.txt
Labels: build

#254 Alarm fix same reminder tts play not smoothly bug
  apps/alarm/alarm-core.js
  apps/alarm/app.js
  apps/alarm/node-cron.js
  apps/alarm/pattern-validation.js
Labels: alarm

#260 lifetime: do not emit preemption if appId is falsy
  runtime/lib/component/lifetime.js
Labels: lifetime

#264 runtime: delegate runtimeDidInit
  runtime/lib/app-runtime.js
Labels: runtime

#267 keyboard: delegate keyboardWillRespond
  runtime/lib/component/keyboard.js
Labels: keyboard, runtime

#269 volume: more friendly volume adjusting strategy
  apps/volume/app.js
Labels: app

#274 bootstrap: start watchdog when runtime is ready
  runtime/services/vuid/index.js
Labels: bootstrap

#276 keyboard: arguments should not be available inside arrow fn
  runtime/lib/component/keyboard.js
Labels: keyboard

#277 test: enable keyboard/turen tests on CI
  runtime/lib/component/keyboard.js
  test/testsets.txt
Labels: keyboard, test

#279 volume: correct count to help
  apps/volume/app.js
Labels: app

#263 @yoda/manifest: convenience package to read device manifest
  CMakeLists.txt
  apps/volume/app.js
  packages/@yoda/audio/index.js
  packages/@yoda/battery/index.js
  packages/@yoda/manifest/CMakeLists.txt
  packages/@yoda/manifest/index.js
  runtime/lib/component/sound.js
Labels: audio, battery, manifest

#281 runtime: notification apps filter option
  runtime/lib/app-runtime.js
Labels: runtime

#282 app-loader: notification channel registration
  runtime/lib/component/app-loader.js
Labels: app, component, runtime

#289 loader: fix cleared notification channels on reload
  runtime/lib/component/app-loader.js
  test/runtime/app-loader/api.test.js
Labels: component

#290 wormhole: proactively set MQTT online
  runtime/lib/component/wormhole.js
Labels: wormhole

#287 docs: add docs for test and tools
  README.md
  test/README.md
  tools/OWNERS
  tools/README.md
  tools/memory-stat
  tools/mock
  tools/profiler
  tools/yoda-debug
Labels: docs

#292 manifest: default YODAOS device manifest
  CMakeLists.txt
  etc/manifest.json
  etc/yoda/app-loader-config.json
  etc/yoda/component-config.json
  etc/yoda/custom-config.json
  etc/yoda/dbus-config.json
  etc/yoda/env.alarm-test.json
  etc/yoda/env.dev.json
  etc/yoda/env.json
  etc/yoda/env.pre.json
  etc/yoda/env.test.json
  etc/yoda/flora-config.json
  etc/yoda/keyboard.json
  etc/yoda/openvoice-sdk.json
  etc/yoda/wormhole.json
Labels: build, manifest

#207 logger: add log level switch timeout
  apps/log-switch/app.js
  packages/logger/index.js
  test/logger/simple.test.js
Labels: logger

#280 bluetooth: fix flora destruct function name.
  packages/@yoda/bluetooth/a2dp.js
  packages/@yoda/bluetooth/helper.js
Labels: bluetooth

#296 runtime: welcome audio playing should wait for daemon apps started
  runtime/lib/app-runtime.js
Labels: bootstrap, runtime

#295 turen: add support for toggling switch on turen wake up engine
  runtime/lib/app-runtime.js
  runtime/lib/app/ext-app.js
  runtime/lib/component/app-scheduler.js
  runtime/lib/component/turen.js
  runtime/lib/descriptor/activity-descriptor.js
  runtime/lib/descriptor/turen-descriptor.js
Labels: api, app, turen

#291 loader: unexpected error on reload for apps with unknown notifications
  runtime/lib/component/app-loader.js
  runtime/lib/component/dbus-registry.js
  test/fixture/malformed-apps/unknown-notification/package.json
  test/runtime/app-loader/malformed-app.test.js
Labels: component, runtime

#299 bluetooth: only disconnect but not close bluetooth.
  apps/bluetooth/app.js
Labels: bluetooth

#294 light: add power plug/pull light & sound effect.
  res/light/power.js
  res/media/power_plug.ogg
  res/media/power_pull.ogg
Labels: light

#301 ota: unavailability announcement
  apps/ota/app.js
  apps/ota/strings.json
  packages/@yoda/ota/condition.js
  packages/@yoda/ota/index.js
  runtime/lib/component/ota.js
  test/@yoda/ota/condition.test.js
Labels: app, ota

#251 bluetooth: add bluetooth phony framework.
  packages/@yoda/bluetooth/hfp-statemap.js
  packages/@yoda/bluetooth/hfp.js
  packages/@yoda/bluetooth/index.js
  packages/@yoda/bluetooth/protocol.json
Labels: bluetooth

#304 test: ota component delegations
  apps/ota/app.js
  packages/@yoda/ota/index.js
  runtime/lib/component/ota.js
  runtime/services/otad/index.js
  test/runtime/ota/index.test.js
  test/runtime/ota/mock.js
  test/testsets.txt
Labels: ota, test

#310 turen: closing pickup while waking up shall not discard next event
  runtime/lib/component/turen.js
Labels: turen

#278 battery-app: replace power status change media
  apps/battery/app.js
  apps/battery/light/battery.js
  apps/battery/media/res/battery_connect.ogg
  apps/battery/media/res/battery_disconnect.ogg
Labels: battery, work-in-progress

#314 bluetooth: add bluetooth call in bluetooth app.
  apps/bluetooth/app.js
  apps/bluetooth/config.json
  apps/bluetooth/package.json
  apps/bluetooth/resources.json
Labels: bluetooth

#303 tool: convenience tool to switch device env
  tools/README.md
  tools/runtime-install
  tools/switch-env
Labels: tools

#318 scheduler: re-use futures on app creation
  runtime/lib/component/app-scheduler.js
Labels: app, scheduler

#320 bootstrap: bring tts service connection forward and announcing welcome audio
  runtime/lib/app-runtime.js
Labels: bootstrap

#321 bluetooth: remove hfp disconnect
  apps/bluetooth/app.js
Labels: bluetooth

#324 activation: fix wakeup effect
  runtime/lib/component/light.js
  runtime/services/activation/activation.cc
Labels: activation

#326 bluetooth: add syncVol function and unified getXxxxState interfaces
  packages/@yoda/bluetooth/a2dp.js
  packages/@yoda/bluetooth/hfp.js
Labels: bluetooth

#332 runtime: hibernation & idling
  apps/system/app.js
  runtime/lib/app-runtime.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/descriptor/activity-descriptor.js
Labels: runtime

#317 audio: broadcast volume change on setVolume
  packages/@yoda/audio/index.js
  packages/@yoda/flora/disposable.js
  tools/helper/flora-listener.js
Labels: audio, flora

#335 runtime: options to welcome on runtime wake up
  runtime/lib/app-runtime.js
Labels: runtime

#328 bluetooth: fix protocol const typo
  packages/@yoda/bluetooth/protocol.json
Labels: bluetooth

#319 mediaplayer: eqMode accessor
  packages/@yoda/multimedia/mediaplayer.js
  packages/@yoda/multimedia/src/MediaPlayer.cc
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/service.js
Labels: api, multimedia

#334 ext-app: delaying process termination on ext-app
  runtime/lib/app/ext-app.js
  runtime/lib/component/app-scheduler.js
Labels: app, scheduler

#327 bluetooth: regular update application code.
  apps/bluetooth/app.js
  apps/bluetooth/config.json
  apps/bluetooth/http-util.js
  apps/bluetooth/resources.json
  apps/bluetooth/strings.json
Labels: bluetooth

#329 cloudappclient: support `nowait` property for directives
  apps/cloudappclient/directive.js
  test/apps/cloudAppClient/directive.test.js
Labels: cloudAppClient

#336 runtime: ignore battery events on hibernation
  runtime/lib/app-runtime.js
  runtime/lib/component/battery.js
Labels: battery, runtime

#339 runtime: suppress network event on welcoming
  runtime/lib/app-runtime.js
  runtime/lib/component/dbus-registry.js
Labels: runtime

#337 cloudappclient: handle invalid protocol for skill
  apps/cloudappclient/skill.js
  test/apps/cloudAppClient/manager.test.js
  test/apps/cloudAppClient/skill-test.test.js
  test/apps/cloudAppClient/skill.test.js
Labels: cloudAppClient

#341 runtime: component inspector
  packages/@yoda/bolero/loader.js
  runtime/lib/component/dbus-registry.js
Labels: component, runtime

#343 turen: speech error been suppressed in progress of asr
  packages/@yoda/util/_.js
  runtime/lib/component/turen.js
  test/runtime/turen/events.test.js
Labels: test, turen

#344 activity: declare background event
  runtime/lib/descriptor/activity-descriptor.js
Labels: api, lifetime, runtime

#340 fixed(cloudappclient): upload pause/resume event to cloud
  apps/cloudappclient/app.js
  apps/cloudappclient/eventRequestApi.js
  apps/cloudappclient/eventRequestMap.json
  apps/cloudappclient/manager.js
  packages/@yodaos/mediakit/convergence.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/service.js
  test/runtime/services/multimediad/final.test.js
  test/runtime/services/multimediad/service.test.js
Labels: cloudappclient

#347 bluetooth: change addToFavorite() from callback to promise
  apps/bluetooth/app.js
Labels: bluetooth

#349 timer: reset time before parse time from nlp
  apps/timer/RKDownTimer.js
  apps/timer/RKTime.js
Labels: timer

#345 tool: test should exit with non-zero code on pipe fail
  packages/@yoda/audio/index.js
  test/@yoda/audio/simple.test.js
  tools/test
Labels: test, tools

#354 test: keyboard delegation made key event handling asynchronous
  packages/@yoda/ota/condition.js
  packages/logger/index.js
  runtime/lib/component/keyboard.js
  test/@yoda/ota/condition.test.js
  test/@yoda/ota/get-available-info.test.js
  test/runtime/keyboard/prevent-defaults.test.js
  tools/test
Labels: keyboard, test

#353 lifetime: carrier should be re-activated on borne app set background
  apps/composition-de-voix/app.js
  runtime/lib/component/lifetime.js
  test/runtime/lifetime/carrier.test.js
Labels: app, lifetime

#352 ota: announce downloading progress on user query
  apps/ota/app.js
  packages/@yoda/ota/index.js
Labels: app, ota

#331 add player control feature
  apps/playercontrol/app.js
  apps/playercontrol/package.json
Labels: app

#342 util: no appending format
  packages/@yoda/util/_.js
  test/@yoda/util/_.test.js
Labels: util

#356 timed-sleep: add timed sleep application.
  apps/timed-sleep/Time.js
  apps/timed-sleep/app.js
  apps/timed-sleep/config.json
  apps/timed-sleep/package.json
  apps/timed-sleep/strings.json
Labels: timed-sleep

#357 activity: add setContextSkillId
  runtime/lib/descriptor/activity-descriptor.js
Labels: api

#360 bluetooth: sync local volume to remote bluetooth device
  apps/bluetooth/app.js
Labels: bluetooth

#364 trace: no need to call .end() for httpsession
  packages/@yoda/trace/index.js
  test/@yoda/trace/index.test.js
Labels: tracing

#362 timer: add trace and speech card
  apps/timer/RKDownTimer.js
Labels: timer

#359 custodian: enforced appScheduler dependency
  runtime/client/translator-ipc.js
  runtime/lib/component/custodian.js
  test/runtime/custodian/state-shift.test.js
Labels: component, network

#365 skill-host: declare skill options query interface
  packages/@yoda/flora/comp.js
  runtime/lib/component/skill-host.js
  tools/helper/flora-invoker.js
Labels: component, flora, tools

#366 ttskit: store tts playing state for convenient querying
  packages/@yodaos/ttskit/convergence.js
Labels: api, tools, tts

#361 cloudappclient support playercontrol
  apps/cloudappclient/app.js
  apps/cloudappclient/package.json
  apps/cloudappclient/skill.js
Labels: cloud app, cloudappclient

#367 lifetime: kept alive scene app shall not enter background on cut preemption
  runtime/lib/component/lifetime.js
  test/runtime/lifetime/context-options.test.js
Labels: lifetime

#358 runtime: turn off mic-mute light effect on silencing
  runtime/lib/app-runtime.js
Labels: light, runtime

#370 ota: download progress rounding
  apps/ota/app.js
Labels: app, ota

#368 feature: support multiple player now
  apps/cloudappclient/app.js
  apps/cloudappclient/manager.js
  apps/cloudappclient/playerManager.js
  apps/cloudappclient/skill.js
  packages/@yodaos/mediakit/convergence.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/flora.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/manager.js
  runtime/services/multimediad/service.js
Labels: multimedia

#369 cloudappclient: add skill options
  apps/cloudappclient/app.js
  apps/cloudappclient/service.js
  apps/cloudappclient/skill.js
  runtime/services/multimediad/index.js
Labels: cloudappclient

#261 setup-network light: System standby light is displayed between longPressMute.js and setStandby.js.
  runtime/lib/app-runtime.js
Labels: light, network

#373 cloudapiclient: should convert the playerId to string
  runtime/services/multimediad/index.js
Labels: cloudappclient

#376 mediaplayer: the arguments of options is option
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
Labels: api, multimedia

#377 cloudappclient: pos should be corrected to progress
  apps/cloudappclient/service.js
Labels: cloudappclient

#378 cloudappclient: correct the turn of media/voice
  apps/cloudappclient/service.js
Labels: cloudappclient

#350 dnd-mode: fix dnd mode volume set
  runtime/lib/component/dnd-mode.js
  test/runtime/dnd-mode/dnd-mode.test.js
Labels: DND mode

#372 cloudAppClient: support forward, backward, play-speed
  apps/cloudappclient/app.js
  apps/cloudappclient/skill.js
  packages/@yoda/multimedia/mediaplayer.js
  packages/@yoda/multimedia/src/MediaPlayer.cc
  packages/@yodaos/mediakit/convergence.js
  runtime/lib/descriptor/multimedia-descriptor.js
  runtime/services/multimediad/index.js
  runtime/services/multimediad/service.js
Labels: cloudappclient, multimedia

#379 fixed: remove unnecessary json.stringify
  runtime/services/multimediad/index.js
Labels: api, multimedia

#382 build: install yoda-trace
  CMakeLists.txt
  packages/@yoda/trace/CMakeLists.txt
Labels: build, tracing

#384 runtime: carrierId should be nil on non-triggered voice command
  runtime/lib/app-runtime.js
Labels: api, runtime

#386 ttsd: refactor ttsd with flora declarative methods
  runtime/lib/app-runtime.js
  runtime/lib/app/dbus-app.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/component/flora.js
  runtime/lib/descriptor/tts-descriptor.js
  runtime/services/ttsd/flora.js
  runtime/services/ttsd/index.js
  runtime/services/ttsd/service.js
Labels: author ready, experimental, flora, runtime, tts

#385 keyboard: fix setPickup light degree
  runtime/lib/component/light.js
  runtime/lib/component/turen.js
  runtime/services/activation/activation.cc
  runtime/services/lightd/flora.js
  runtime/services/lightd/service.js
  test/runtime/services/lightd/setAwake.test.js
  test/runtime/services/lightd/setDegree.test.js
  test/runtime/services/lightd/setPickup.test.js
Labels: activation, author ready, keyboard

#388 lifetime: kept alive app should be put to background on deactivating
  runtime/lib/component/lifetime.js
  test/runtime/lifetime/context-options.test.js
Labels: author ready, lifetime

#399 battery: fix text font error and text-to-speech will ignore font error text
  apps/battery/constant.json
Labels: battery

#394 util: add math utility functions
  packages/@yoda/util/index.js
  packages/@yoda/util/math.js
  test/@yoda/util/math.test.js
Labels: util

#395 runtime: apps not created on dispatching notification
  runtime/lib/app-runtime.js
  test/activity/activity-descriptor.test.js
  test/activity/ext-app-activity-api.test.js
  test/activity/ext-app.test.js
  test/activity/light-app.test.js
  test/component/app-loader/api.test.js
  test/component/app-loader/loader.test.js
  test/component/app-loader/malformed-app.test.js
  test/component/app-loader/mock.js
  test/component/app-scheduler/mock.js
  test/component/app-scheduler/process-management.test.js
  test/component/battery/index.test.js
  test/component/custodian/state-shift.test.js
  test/component/dispatcher/index.test.js
  test/component/dnd-mode/dnd-mode.test.js
  test/component/keyboard/descriptor.test.js
  test/component/keyboard/prevent-defaults.test.js
  test/component/lifetime/app-status.test.js
  test/component/lifetime/background.test.js
  test/component/lifetime/carrier.test.js
  test/component/lifetime/context-options.test.js
  test/component/lifetime/events.test.js
  test/component/lifetime/index.test.js
  test/component/lifetime/life-events.test.js
  test/component/lifetime/mock.js
  test/component/lifetime/monopolization.test.js
  test/component/lifetime/simultaneous.test.js
  test/component/lifetime/stack-manipulation.test.js
  test/component/lifetime/termination.test.js
  test/component/ota/index.test.js
  test/component/ota/mock.js
  test/component/turen/events.test.js
  test/component/wormhole/index.test.js
  test/descriptor/httpgw.test.js
  test/runtime/notification/notification.test.js
  test/runtime/voice-command.test.js
  test/testsets.txt
Labels: runtime, test

#400 api: add getContextSkillId
  runtime/lib/descriptor/activity-descriptor.js
Labels: api

#401 keyboard: long press with interrupting keydown-keyup of another key code
  runtime/lib/component/keyboard.js
  test/component/keyboard/descriptor.test.js
Labels: keyboard, test

#398 add no-tts option for mute light effect.
  runtime/lib/app-runtime.js
Labels: light, runtime, work-in-progress

#403 system: friendly informing on app not installed
  apps/system/app.js
Labels: app, system

#402 runtime: deprecate onGetPropAll
  packages/@yoda/util/deprecate.js
  runtime/lib/app-runtime.js
  runtime/lib/cloudapi/index.js
  runtime/lib/component/custodian.js
  runtime/lib/component/dbus-registry.js
  runtime/lib/descriptor/activity-descriptor.js
  runtime/lib/descriptor/httpgw-descriptor.js
  test/activity/ext-app-activity-api.test.js
  test/component/custodian/state-shift.test.js
  test/descriptor/httpgw.test.js
Labels: runtime

#406 fix compile error of wrong parameter type
  include/async_invoke.h
Labels: build

#407 content of flora msg can push undefined value
  packages/@yoda/flora/index.js
  packages/@yoda/flora/src/cli-native.cc
Labels: author ready, flora

#374 util: add time utility functions
  packages/@yoda/util/index.js
  packages/@yoda/util/time.js
  test/@yoda/util/time.test.js
Labels: util

#381 timer: rewrite timer application
  apps/timer/RKDownTimer.js
  apps/timer/RKTime.js
  apps/timer/RKTimer.js
  apps/timer/app.js
  apps/timer/config.json
  apps/timer/package.json
  apps/timer/strings.json
Labels: timer

#380 timed-sleep: separate @yoda/util/time|math and fix parseTime error.
  apps/timed-sleep/Time.js
  apps/timed-sleep/app.js
  apps/timed-sleep/config.json
Labels: timed-sleep

#409 ttsd: duplicated emission of tts events
  runtime/lib/app-runtime.js
  runtime/lib/component/flora.js
  runtime/lib/descriptor/tts-descriptor.js
  runtime/services/ttsd/flora.js
  runtime/services/ttsd/service.js
  test/descriptor/tts.test.js
  test/fixture/ext-app/app.js
Labels: api, test, tts

#416 test: tts descriptor events
  runtime/lib/descriptor/tts-descriptor.js
  test/descriptor/tts/event.test.js
  test/descriptor/tts/fixture/ext-app/app.js
  test/descriptor/tts/fixture/ext-app/package.json
  test/descriptor/tts/tts.test.js
  test/testsets.txt
Labels: api, test, tts

#413 bluetooth: handle cross of bt-music/bt-call/flip-event
  apps/bluetooth/app.js
Labels: bluetooth

#411 bluetooth: suppress disconnected prompt while not explicit intent
  apps/bluetooth/app.js
Labels: bluetooth

#410 @yodaos/application: in app process state storage
  CMakeLists.txt
  apps/volume/app.js
  packages/@yodaos/application/CMakeLists.txt
  packages/@yodaos/application/context-manager.js
  packages/@yodaos/application/package.json
  test/@yodaos/application/context-manager.test.js
  test/testsets.txt
Labels: api, app

#305 dnd-mode: Re-render light when the global alpha is changed.
  runtime/services/lightd/effects.js
Labels: DND mode, light

#420 test: activity.exit
  runtime/lib/descriptor/activity-descriptor.js
  test/descriptor/activity/exit.test.js
  test/descriptor/activity/fixture/ext-app/app.js
  test/descriptor/activity/fixture/ext-app/package.json
Labels: api, test

#419 bluetooth: handle bluetooth_info intent
  apps/bluetooth/app.js
  apps/bluetooth/strings.json
Labels: bluetooth

#423 volume: add_volume_num/dec_volume_num volume number normalization
  apps/volume/app.js
Labels: app

#414 turen: toggle the engine when pickup
  runtime/lib/component/turen.js
Labels: turen

#426 context-manager: clears contexts on activity destroy
  packages/@yodaos/application/context-manager.js
  test/@yodaos/application/context-manager.test.js
Labels: api, test

#432 test: fix test exiting error
  test/runtime/services/lightd/loadfile.test.js
Labels: light

#430 meta: code owners
  CODEOWNERS
  packages/@yoda/ota/OWNERS
  runtime/client/OWNERS
  runtime/lib/app/OWNERS
  runtime/lib/cloudapi/OWNERS
  runtime/lib/component/OWNERS
  runtime/services/lightd/OWNERS
  runtime/services/multimediad/OWNERS
  runtime/services/otad/OWNERS
  runtime/services/ttsd/OWNERS
  runtime/services/vuid/OWNERS
  tools/OWNERS
Labels: meta

#429 bluetooth: move play-control from entrance to exit
  apps/bluetooth/app.js
Labels: bluetooth

#428 bluetooth: add 'mode' to identify a2dp-sink special play state
  packages/@yoda/bluetooth/a2dp-statemap.js
  packages/@yoda/bluetooth/a2dp.js
Labels: bluetooth
