Repository yodaos-project/yoda.js, pull requests merged in 2019-07, with the labels that each got.

#783 speech-synthesis: verbose logger on condition branches
  packages/@yodaos/speech-synthesis/index.js
Labels: speech

#788 app-scheduler: reset ANR after time changed by ntpd
  runtime/component/app-scheduler.js
  runtime/component/chronos.js
  runtime/component/flora.js
  test/component/app-scheduler/anr.test.js
Labels: chronos, scheduler

#789 audio: post persist message for each audio channel volume changes
  packages/@yoda/audio/index.js
Labels: audio

#787 runtime: pass url event argument as url string
  packages/@yodaos/application/application.js
  runtime/app-runtime.js
  runtime/component/flora.js
  test/@yodaos/application/application.test.js
  test/@yodaos/application/class-loader.test.js
Labels: api

#791 application: should parse url with query
  apps/cloud-player/app.js
  packages/@yodaos/application/application.js
  test/@yodaos/application/application.test.js
Labels: api, app

#790 [MDF]stop alarm/reminder ringtone when wakeup
  apps/alarm/media-manager.js
Labels: alarm

#797 test: cloud-player pause/resume
  apps/cloud-player/test/voice/player.test.js
  apps/cloud-player/voice/player.js
  packages/@yoda/multimedia/mediaplayer.js
Labels: test

#801 runtime: ignore non-network-state message
  runtime/component/flora.js
Labels: runtime

#793 scheduler: restart daemon app unconditionally
  runtime/component/app-scheduler.js
  runtime/component/dbus-registry.js
  test/component/app-scheduler/anr.test.js
  test/component/app-scheduler/app-management.test.js
  test/component/broadcast/index.test.js
Labels: scheduler

#784 bluetooth: fix below bugs
  apps/bluetooth-music/app.js
  apps/bluetooth/bluetooth-service.js
  packages/@yoda/bluetooth/a2dp.js
  test/@yoda/bluetooth/a2dp-sink-test.js
Labels: bluetooth

#807 app: force process to exit without any proceeding
  runtime/client/ext-helper.js
Labels: app

#808 ota: fetch image size on downloading
  runtime/services/otad/step.js
  runtime/services/otad/wget.js
  test/services/otad/step.test.js
Labels: ota

#809 multimedia: delayed start should be suppressed on stop
  packages/@yoda/multimedia/mediaplayer.js
  test/@yoda/multimedia/compat.test.js
  test/@yoda/multimedia/mediaplayer-chaos.test.js
  test/@yoda/multimedia/mediaplayer.test.js
Labels: multimedia

#794 feat: optimized startup
  etc/yoda/system-config.json
  runtime/lib/app-runtime.js
  runtime/services/vuid/index.js
Labels: performance

#814 ota: configurable constraint on additional available space
  etc/manifest.json
  runtime/services/otad/step.js
  runtime/services/otad/wget.js
Labels: ota

#815 bluetooth: remove `exit` to avoid app crash
  apps/bluetooth-music/app.js
Labels: bluetooth

#811 memory-sentinel: broaden visibility restricts to all visible apps
  etc/yoda/memory-sentinel.json
  runtime/component/memory-sentinel.js
  runtime/component/visibility.js
  test/component/memory-sentinel/high-water-mark.test.js
  test/component/memory-sentinel/index.test.js
  test/component/memory-sentinel/low-free-memory.test.js
  test/component/visibility/voice.test.js
Labels: memory-management

#816 cloud-player: emit multimedia cancel event on stop
  apps/cloud-player/voice/player.js
Labels: cloud app

#818 ota: make image size fetching optional by inferring from ota info
  runtime/services/otad/step.js
  test/services/otad/step.test.js
Labels: ota

#819 cloud-player: un-declare get stream channel immediately
  apps/cloud-player/voice/tts-stream.js
Labels: cloud app

#820 speech-synthesis: guard player while receiving data
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.cc
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.h
Labels: speech-synthesis

#817 bluetooth: open before play if a2dp is not connected
  apps/bluetooth-music/app.js
Labels: bluetooth

#821 [BF][22023]can not ring when alarm/reminder set same time
  apps/alarm/alarm-core.js
  apps/alarm/node-cron.js
Labels: alarm

#822 ota: gracefully exit on connection error of fetching image size
  packages/@yoda/oh-my-little-pony/index.js
  runtime/services/otad/index.js
  runtime/services/otad/wget.js
  test/services/otad/wget.test.js
Labels: ota

#824 mediaplayer: no-exception on getters
  packages/@yoda/multimedia/mediaplayer.js
  test/@yoda/multimedia/compat.test.js
Labels: multimedia

#825 voice-interface: engine operations
  packages/@yodaos/voice-interface/index.js
  runtime/client/ext-helper.js
  test/@yodaos/voice-interface/bootstrap.js
  test/@yodaos/voice-interface/index.test.js
  test/@yodaos/voice-interface/voice-engine.js
  test/testsets-ci.txt
Labels: voice-interface

#823 cloud-player: support seeking and speeding
  apps/cloud-player/README.md
  apps/cloud-player/app.js
  apps/cloud-player/constant.js
  apps/cloud-player/voice/player.js
Labels: cloud app

#827 cloud-player: broadcast player error event
  apps/cloud-player/test/voice/player.test.js
  apps/cloud-player/voice/player.js
Labels: cloud app

#828 input-event: monitor devices by /etc/input-event.conf
  packages/@yoda/input/src/InputNative.cc
Labels: keyboard

#832 speech-synthesis: race condition on end and cancelling
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/pcm-player.h
Labels: speech-synthesis

#829 timer: add readme
  apps/timer/README.md
Labels: timer

#826 media-controller: media controller support
  packages/@yoda/util/_.js
  packages/@yodaos/application/index.js
  packages/@yodaos/application/now-playing-center.js
  runtime/component/media-controller.js
  runtime/descriptor/media-controller.js
  test/@yoda/util/_.test.js
  test/@yodaos/application/now-playing-center.test.js
  test/component/media-controller/index.test.js
  test/testsets.txt
Labels: multimedia, work-in-progress

#833 bluetooth: add upload bluetooth music info and README
  apps/bluetooth-music/README.md
  apps/bluetooth-music/app.js
  apps/bluetooth/README.md
Labels: bluetooth

#834 cloud-player: implement remote command support
  apps/cloud-player/README.md
  apps/cloud-player/constant.js
  apps/cloud-player/voice/player.js
  apps/cloud-player/voice/tts-stream.js
Labels: cloud app

#835 timer: fix timer crash issue
  apps/timer/app.js
  apps/timer/config.json
  packages/@yodaos/application/vui/app-task.js
Labels: timer

#836 bluetooth: change upload status constants
  apps/bluetooth-music/README.md
  apps/bluetooth-music/app.js
Labels: bluetooth

#838 test: skip flaky case @yodaos/voice-interface
  test/testsets-ci.txt
Labels: test

#837 system: add replies for shutdown/reboot if no battery at manifest
  apps/system/README.md
  apps/system/app.js
  apps/system/package.json
  apps/system/reply.json
  apps/system/test/index.test.js
Labels: app, system

#840 cloud-player: delay first player start event to player prepared
  apps/cloud-player/voice/player.js
Labels: cloud app

#839 bluetooth: listen media control button event
  apps/bluetooth-music/app.js
Labels: bluetooth

#842 speech-synthesis: update thr-pool
  packages/@yodaos/speech-synthesis/src/pcm-player.cc
  packages/@yodaos/speech-synthesis/src/thr-pool.h
Labels: speech-synthesis

#843 speech-synthesis: update thr-pool
  packages/@yodaos/speech-synthesis/src/thr-pool.h
Labels: speech-synthesis

#845 audio-focus: transient request should not loss as transient
  runtime/component/audio-focus.js
  test/@yodaos/application/audio-focus.test.js
  test/component/audio-focus/index.test.js
Labels: audio-focus, memory

#847 speech-synthesis: disable n-api cpp exceptions
  packages/@yoda/multimedia/src/media-player.h
  packages/@yodaos/speech-synthesis/src/speech-synthesizer.h
  test/@yoda/multimedia/mediaplayer.test.js
  test/@yodaos/speech-synthesis/index.test.js
Labels: multimedia, speech-synthesis
